<template>
    <div class="cdek-address grid-row">
        <div data-column="8">
            <div class="control-group">
                <label>Регион доставки</label>
                <base-select :data="regions" :blank-row="true" v-model="selectedRegion" value-field="code" label-field="name"></base-select>
            </div>
            <div class="control-group" v-if="selectedRegion">
                <label>Город доставки</label>
                <base-select :data="regionCities" :blank-row="true" :key="selectedRegion" v-model="selectedCity" value-field="code" label-field="name"></base-select>
            </div>
            <div class="control-group" v-if="selectedRegion && selectedCity">
                <label>Точка выдачи</label>
                <base-select :data="cityPoints" :blank-row="true" :key="selectedCity" v-model="selectedPoint" value-field="code" label-field="name"></base-select>
            </div>
        </div>
        <div v-if="selectedPointData && selectedRegion && selectedCity" class="CDEK-summary" data-column="4">
            <h3>Ваш пункт выдачи заказа</h3>
            <div class="top-margin">
                <span class="bold">Адрес: </span><span>{{ selectedPointData.location.address_full }}</span>
            </div>
            <div class="top-margin" v-if="selectedPointData.address_comment">
                <span class="bold ">Дополнительно: </span><span>{{ selectedPointData.address_comment }}</span>
            </div>
            <div class="top-margin">
                <span class="bold">Телефоны: </span><span>{{ selectedPointData.phones.map(phone => phone.number).join(', ') }}</span>
            </div>
            <div class="top-margin">
                <span class="bold">Email: </span><span>{{ selectedPointData.email }}</span>
            </div>
            <div class="top-margin" v-if="selectedPointData.phones.work_time">
                <span class="bold">Время работы: </span><span>{{ selectedPointData.phones.work_time }}</span>
            </div>
            <div class="top-margin">
                <span class="bold">Наличный расчет: </span><span>{{ selectedPointData.have_cash ? 'Да' : 'Нет' }}</span>
            </div>
            <div class="top-margin">
                <span class="bold">Безналичный расчет: </span><span>{{ selectedPointData.have_cashless ? 'Да' : 'Нет' }}</span>
            </div>
            <div class="top-margin" v-if="selectedPointData.site">
                <a :href="selectedPointData.site" target="_blank">Посмотреть на сайте CDEK</a>
            </div>
        </div>
    </div>
</template>

<script>
    import BaseSelect from '../../../../Base/Select/BaseSelect.vue';
    export default {
        data() {
            return {
                selectedRegion: null,
                selectedCity: null,
                selectedPoint: null,
                position: null,
                regions: [],
                cities: []
            }
        },
        props: {
            field: Object
        },
        computed: {
            selectedPointData() {
                if (!this.selectedPoint) {
                    return null
                }

                return this.field.values.find(point => point.code === this.selectedPoint)
            },
            regionCities() {
                if (!this.selectedRegion) {
                    return null
                }

                return this.cities.filter(city => city.regionCode === parseInt(this.selectedRegion))
            },
            cityPoints() {
                if (!this.selectedCity) {
                    return null
                }

                return this.field.values.filter(point => point.location.city_code === parseInt(this.selectedCity))
            }
        },
        watch: {
            selectedPoint: {
                handler(point) {

                    this.$emit('input', this.field.values.find(point => point.code === this.selectedPoint))
                },
                deep: true
            }
        },
        created() {
            const geo = navigator.geolocation;
            geo.getCurrentPosition(data => {
                this.position = data;
            }, err => {
                console.log(err)
            });


            this.field.values.forEach(deliveryPoint => {
                if (!this.regions.some(region => region.code === deliveryPoint.location.region_code)) {
                    this.regions.push({
                        code: deliveryPoint.location.region_code,
                        name: deliveryPoint.location.region
                    });
                }

                if (!this.cities.some(city => city.code === deliveryPoint.location.city_code)) {
                    this.cities.push({
                        code: deliveryPoint.location.city_code,
                        name: deliveryPoint.location.city,
                        regionCode: deliveryPoint.location.region_code,
                        region: deliveryPoint.location.region
                    });
                }
            })
        },
        components: {
            BaseSelect
        }
    }
</script>

<style scoped>

</style>