<template>
    <div class="control-group relative">
        <label :for="`field-${field.id}`">{{ field.label }} <span class="pink" v-if="field.required">*</span></label>
        <div class="autocomplete-list-wrapper">
            <input type="text" v-model="address" :id="`field-${field.id}`">
            <ul class="autocomplete-list" v-if="suggestions && suggestions.suggestions && suggestions.suggestions.length && !selected">
                <li class="autocomplete-list-item" @click="selectValue(`${suggestion.zip}, ${suggestion.value}`)" v-for="suggestion in suggestions.suggestions">{{ suggestion.zip }}: {{ suggestion.value }}</li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            field: Object
        },
        data() {
            return {
                address: '',
                suggestions: [],
                selected: false
            }
        },

        methods: {
            selectValue(query) {
                this.address = query;
                this.selected = true
            }
        },

        watch: {
            address: async function (newValue, oldValue) {
                this.$emit('input', newValue);

                if (newValue && newValue !== oldValue) {
                    const data = await this.ext.httpRequest.getServerData(`http://ahunter.ru/site/suggest/address?output=json;query=${newValue}`);

                    if (data) {
                        this.suggestions = JSON.parse(data);
                        this.selected = false;
                    }
                } else {
                    this.suggestions = [];
                }
            }
        },
    }
</script>

<style scoped>

</style>