<template>
    <div class="control-group">
        <label :for="`field-${field.id}`">{{ field.label }} <span class="pink" v-if="field.required">*</span></label>
        <input type="text" @input="$emit('input', $event.target.value)" :id="`field-${field.id}`">
    </div>
</template>

<script>
    export default {
        props: {
            field: Object
        }
    }
</script>

<style scoped>

</style>