@media screen and (max-width: 639px) {
    .banners-wrapper {
        height: 100vw;
    }

    .banners-wrapper .banner-content {
        position: static;
        text-align: center;
        padding: 36vw 5vw;
    }

    .banners-wrapper .controls.prev {
        left: 0;
        text-align: left;
        background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
    }

    .banners-wrapper .controls.prev i {
        left: 1vw;
    }

    .banners-wrapper .controls.next i {
        right: 1vw;
    }

    .banners-wrapper .controls.next {
        text-align: right;
        right: 0;
        background: linear-gradient(to left, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
    }

    .banners-wrapper .controls:focus,
    .banners-wrapper .controls:active,
    .banners-wrapper .controls:hover,
    .banners-wrapper .controls {
        width: 10vw;
        height: 100%;
        font-size: var(--font-size-big);
        background: none;
        box-shadow: none;
        color: var(--pink);
        border-radius: 0;
        top: 0;
    }

    .banners-wrapper .controls i {
        position: absolute;
        top: 50%;
    }

    .banners-wrapper .banner {
        background-position: center;
    }

    .banners-wrapper .banner-content h2 {
        font-size: var(--font-size-bigest)
    }

    .banners-wrapper .banner-content > div {
        font-size: var(--font-size-big);
    }
}