@media screen and (max-width: 640px) {
    :root {
        --black: #515156;
        --green: #92ab06;
        --orange: #eda72e;
        --pink: #fe7589;
        --gray: #d3d4da;
        --yellow: #fbc61d;
        --dark-green: #7e9e1c;
        --ligh-gray: #f2f5f7;
        --font-size-middle: 5vw;
        --font-size-normal: 4vw;
        --font-size-small: 3.5vw;
        --font-size-big: 6vw;
        --font-size-biger: 7vw;
        --font-size-bigest: 8vw;
    }

    .btn {
        padding: 3vw 8vw;
        font-size: var(--font-size-normal);
    }
}
