@media screen and (max-width: 639px) {
    .grid {
        width: 100%;
    }

    .grid .grid-row {
        flex-wrap: wrap;
    }

    .grid .grid-row [data-column] {
        max-width: none;
        width: 100%;
    }

    .grid .grid-row [data-column]:not(:first-child) {
        margin: 0 auto;
    }
}