@media screen and (max-width: 639px) {
    .home-offers .home-offer {
        width: 100%;
        height: 80vw;
        margin-top: 5vw;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        display: flex;
    }

    .home-offers .home-offer .home-offer-content {
        padding: 6vw 3vw;
        text-align: center;
        margin: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
    }

    .home-offers .home-offer .home-offer-content .title {
        font-size: var(--font-size-bigest);
        width: 100%;
    }

    .home-offers .home-offer .home-offer-content .description {
        font-size: var(--font-size-big);
        max-height: 37vw;
        overflow: hidden;
        width: 100%
    }

    .home-offers .home-offer .home-offer-content a {
        width: 100%;
        box-sizing: border-box;
    }
}