@media screen and (max-width: 639px) {
    body {
        padding-top: 10vw;
    }

    header.header {
        display: none;
    }

    header.mobile-header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        background: #FFF;
        padding: 2vw;
        box-shadow: 1px 3px 18px 3px rgba(179, 178, 178, 0.7);
    }

    .burger .burger-title {
        font-size: var(--font-size-big);
        color: var(--gray)
    }

    .menu-main {
        flex-direction: column;
    }

    .menu-main a {
        font-size: var(--font-size-normal);
        text-align: center;
        margin-bottom: 1vw;
    }

    .menu-main > a:hover + .sub-menu {
        display: none;
    }

    header.mobile-header .mobile-header-icons {
        display: flex;
        margin-left: auto;
        justify-content: space-between;
    }

    header.mobile-header .mobile-header-icons > * {
        margin-left: 4vw;
    }

    header .burger-content {
        max-height: 0;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        overflow: hidden;
    }

    header .burger-content.opened {
        max-height: 100vh;
        overflow: auto;
        transition: max-height 0.5s ease-in-out;
    }

    header .close-burger-menu {
        display: block;
        width: 100%;
        text-align: center;
        color: var(--dark-green);
        padding: 2vw 0;
        font-size: var(--font-size-big);
    }

    .page-title > span {
        font-size: var(--font-size-bigest);
    }

    .page-title span:after,
    .page-title span:before,
    .page-title:before {
        display: none;
    }

    .home-news {
        flex-wrap: wrap;
    }

    .home-news-item {
        width: 100%;
        min-height: 18vw;
        margin-bottom: 5vw;
        padding: 4vw;
    }

    .home-news-item-content .home-news-item-title {
        margin-bottom: 5vw;
    }

    .home-news-item-content {
        padding: 4vw 0;
        text-align: center;
        min-height: auto;
    }

    .home-news-item:not(:first-child) {
        margin-left: 0;
    }

    .home-news-item-content .home-news-item-controls {
        margin-top: 4vw;
    }

    .home-benefits {
        flex-wrap: wrap;
    }

    .home-benefit-icon {
        width: 25vw;
    }

    .footer {
        height: auto;
    }

    .footer .footer-right {
        display: none;
    }

    .footer-social-title {
        text-align: center;
        font-size: var(--font-size-middle);
        margin: 0;
        padding: 10vw 5vw;
        width: auto;
    }

    .footer-social {
        width: 100%;
        padding: 0;
    }

    .categories-tree-controls {
        background: var(--ligh-gray);
        height: 13vw;
        align-items: center;
        display: flex;
        border-radius: 4px;
        justify-content: space-between;
        padding: 0 3vw;
        margin-top: 8vw;
    }

    .categories-tree-controls .categories-tree-controls-button {
        font-size: var(--font-size-middle);
        color: var(--black);
    }

    .categories-tree .chevron-box {
        display: none;
    }

    .categories-tree li[data-level="2"] > a {
        width: 100%;
        text-align: center;
    }

    .categories-tree li[data-level="3"] > a {
        width: 100%;
        text-align: center;
    }

    .categories-tree li[data-level="2"] > ul {
        display: none;
    }

    .grid-row .sidebar-left {
        max-width: none;
    }

    .grid .grid-row .sidebar-left.categories-tree-sidebar {
        display: none;
        margin-top: 3vw;
    }

    .sidebar-title {
        display: none;
    }

    .grid .grid-row .sidebar-left.categories-tree-sidebar.opened {
        display: block;
        margin-bottom: 30px;
    }

    .product-list > div {
        min-height: 40vw;
    }

    .catalog-wrapper .page-title {
        margin: 8vw 0;
    }

    .catalog-wrapper .page-title > span {
        font-size: var(--font-size-big);
    }

    .product-list wc-sort-form {
        display: none;
    }

    .product-list.grid .grid-row .product {
        margin-right: 0;
        margin-bottom: 4vw;
        height: 40vw;
    }

    .product-list .product {
        box-shadow: none;
        display: flex;
        flex-wrap: nowrap;
        background: var(--ligh-gray);
        min-height: 40vw;
    }

    .product-list .product > div:first-child {
        width: 40vw;
        flex-grow: 1;
        overflow: hidden;
        text-align: center;
        height: 40vw;
    }

    .product-list .product > div.description {
        width: 60vw;
        padding: 1vw;
    }

    .product-list .product .title {
        text-decoration: none;
        color: var(--black);
        display: block;
        margin: 1vw;
        font-size: var(--font-size-normal);
        font-weight: 800;
        overflow: hidden;
        text-align: left;
        min-height: 0;
    }

    .product-list .product .add-to-cart-form form {
        display: flex;
        flex-wrap: wrap;
    }

    .product-list .product .description .price {
        width: 100%;
        text-align: left;
        font-size: var(--font-size-normal);
        margin: 2vw 1vw 0 1vw;
        height: 7vw;
        min-height: auto;
    }

    .product-list .product .description .price b {
        font-size: var(--font-size-middle);
    }

    .product-list .product img {
        display: block;
        width: auto;
        max-width: inherit;
        height: 40vw;
        text-align: center;
    }

    .product-list .product .description .to-cart {
        width: 100%;
    }

    .product-list .product .description .not-in-stock {
        width: 100%;
        margin: 10vw 0;
        font-weight: 800;
        color: var(--gray)
    }

    .product-list .product .description .offers {
        margin-left: 1vw;
        margin-bottom: 1vw;
    }

    .product-list .product .to-cart .btn {
        margin: 0 1vw;
        width: calc(100% - 2vw);
        box-sizing: border-box;
        padding: 2vw 3vw;
    }

    .product-list .product .offers input[type="radio"] + label {
        border: solid 0.5vw var(--gray);
        width: 14vw;
        text-align: center;
        border-radius: 4px;
        font-size: var(--font-size-normal);
        height: 5vw;
        line-height: 5vw;
    }

    .product-list .product .offers input[type="radio"]:checked + label {
        border-color: var(--green);
    }

    .product-list .product .offers input[type="radio"] + label:before {
        display: none;
    }

    .product-list .product .description .offers > div:not(:first-child) {
        margin-left: 0;
    }
}
