{% block components %}
    {% set components = recipe.components.getValues() %}

    <div class="sidebar-title" data-column="3"><span class="text-middle">Компоненты</span></div>

    <wc-recipe-components add-all-to-cart-url="{{ path('cart_add_list') }}" add-to-cart-url="{{ path('cart_add') }}" components-data="{{ components|json_encode }}"></wc-recipe-components>
{% endblock %}