{% use 'shop/recipe/blocks/components.twig' %}

{% block recipe %}
    <div data-column="9">
        <div class="grid-row align-start">
            <div data-column="6">
                <img src="{{ imagePath ~ '/' ~ recipe.image }}" alt="">
                <div class="recipe-text">
                    {{ recipe.text|raw }}
                </div>
            </div>
            <div data-column="3" class="sidebar-left top-margin-none">
                {{ block('components') }}
            </div>
        </div>
    </div>
{% endblock %}