{% block recipeGrid %}
    <div class="flex flex-wrap" data-column="9">
        {% for recipe in recipes %}
            <a href="{{ path('recipe', {'recipe': recipe.id}) }}" class="recipe-card">
                <div class="recipe-image">
                    <img src="{{ imagePath ~ '/' ~ recipe.image }}">
                </div>
                <div class="recipe-info">
                    <div class="pink bold recipe-title">{{ recipe.name }}</div>
                    <div class="text-middle top-margin">Автор рецепта: {{ recipe.author }}</div>
                    <div class="text-middle top-margin">Рейтинг: {{ recipe.rating }}%</div>
                    <div class="text-middle top-margin">Сложность: {{ recipe.difficult }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}