{% block recipesSidebar %}
    <div data-column="3" class="sidebar-left top-margin-none">
        <div class="grid-row">
            <div class="sidebar-title" data-column="3"><span>{{ 'RECIPE_LIST_TITLE'|trans }}</span></div>
        </div>
        <div class="grid-row">
            <ul class="categories-tree">
                {% for category in recipeCategories %}
                    <li data-level="2">
                        <a href="{{ path('menu_recipe_list', {'category': category.id}) }}">{{ category.name }}</a>
                    </li>
                    {% for recipe in category.reciepts %}
                        <li data-level="3">
                            <a class="{{ recipeId is defined and recipe.id == recipeId ? 'active' : '' }}" href="{{ path('recipe', {'recipe': recipe.id}) }}">{{ recipe.name }}</a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}