<template>
    <div class="grid-row">
        <div data-column="5">
            <div class="pagination">
                <a :page="pages.start.base" :title="pages.start.text"
                   :class="getClasses(pages.start, ['btn', 'start', 'icon'])" @click="pageLink(pages.start.base)">{{
                    pages.start.text }}</a>
                <a :page="pages.prev.base" :title="pages.prev.text"
                   :class="getClasses(pages.prev, ['btn', 'prev', 'icon'])" @click="pageLink(pages.prev.base)">{{
                    pages.prev.text }}</a>

                <a v-for="page in pages.pages" :page="page.base" :title="page.text" :class="getClasses(page, ['page'])"
                   @click="pageLink(page.base)">{{ page.text }}</a>

                <a :page="pages.next.base" :title="pages.next.text"
                   :class="getClasses(pages.next, ['btn', 'next', 'icon'])" @click="pageLink(pages.next.base)">{{
                    pages.next.text }}</a>
                <a :page="pages.last.base" :title="pages.last.text"
                   :class="getClasses(pages.last, ['btn', 'last', 'icon'])" @click="pageLink(pages.last.base)">{{
                    pages.last.text }}</a>

            </div>
        </div>
        <div data-column="3">
            <div class="inline-block right-margin-s page-text">Страница</div>
            <input type="text" :value="pagesCurrent" name="page" @change="pageLink($event.target.value)"
                   class="page-input" autocomplete="off">
            <div class="inline-block left-margin-s page-text">из {{ pagesTotal }}</div>
        </div>
        <div data-column="4" class="flex align-items-center">
            <div class="flex-grow-1">Показывать на странице</div>
            <custom-select @selectValueChanged="pageLimit"
                           options='{"5":5, "10": 10, "25": 25, "50": 50, "1000": "Все"}' :value="pagesLimit"
                           name="limit" class="limit-select top-dropdown" disable-search="true"></custom-select>

        </div>
    </div>

</template>

<script type="text/javascript">

    export default {

        props   : ['paging', 'pages-current', 'pages-total', 'pages-limit'],
        computed: {
            pages: function () {
                return this.getPaging()
            },
        },
        methods : {
            getPaging() {
                return JSON.parse(this.paging);
            },

            getClasses(page, classes) {
                if (page.base == null) {
                    classes.push("disabled");
                }
                return classes.join(' ');
            },

            pageLink(value) {
                if (value === null) {
                    return;
                }
                this.ext.url.setHistoryUrlParam('page', parseInt(value));
                this.updateList();
            },

            pageLimit(evt) {
                let limit = evt.detail[0].id;
                this.ext.url.setHistoryUrlParam('page', '');
                this.ext.url.setHistoryUrlParam('limit', parseInt(limit));
                this.updateList();
            },

            updateList() {
                document.querySelector('body').classList.add('preloader');
                this.ext.httpRequest.getServerData(location.href).then((data) => {
                    let replace = this.ext.template.stringToDOM(data);
                    document.querySelector('[data-to-replace]').innerHTML = replace.querySelector('[data-to-replace]').innerHTML;
                });
            },
        }
    }
</script>