{% extends 'base.html.twig' %}

{% block pageHeading %}<h1>{{ 'SHOP_ORDER_SUCCESS'|trans }}</h1>{% endblock %}

{% block body %}
    <div class="text-big">{{ 'SHOP_ORDER_SUCCESS_WITH_INVOICE'|trans({'%orderNum%': order.getId(), '%orderDate%': order.getCreatedAt().format('d.m.Y H:i')})|raw }}</div>
    <div class="grid top-margin-xl">
        <div class="grid-row">
            <div data-column="4">
                <a target="_blank" href="{{ path('order_invoice', {'order_id': order.id}) }}" class="btn text-center green">{{ 'SHOP_ORDER_SUCCESS_GET_INVOICE'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}