{% extends 'base.html.twig' %}

{% block pageHeading %}<div class="page-title"><span>{{ 'SHOP_CREATE_ORDER'|trans }}</span></div>{% endblock %}

{% block body %}
    <wc-create-order
            completed-action="{{ path('order_complete') }}"
            submit-action="{{ path('order_process') }}"
            total-weight="{{ totalWeight }}"
            payment-icon-path="{{ paymentIconPath }}"
            cart-total="{{ cartTotal }}"
            deliveries="{{ deliveries|json_encode }}"
            payments="{{ payments|json_encode }}"
            products="{{ products|json_encode }}"
            prices="{{ prices|json_encode }}">
    </wc-create-order>
{% endblock %}