{% extends 'base.html.twig' %}
{% use 'shop/catalog/productList/blocks/productList.html.twig' %}
{% use 'shop/common/pagination.html.twig' %}

{% block body %}
    <div class="grid catalog-wrapper">
        <div class="categories-tree-controls">
            <a href="javascript:void(0)" data-control="toggleCategories" class="categories-tree-controls-button"><i
                        class="fa fa-chevron-down"></i> Категории</a>
        </div>
        <div class="grid-row">
            <div data-column="3" class="sidebar-left categories-tree-sidebar">
                <div class="sidebar-title" data-column="3">Категории</div>
                <div class="grid-row sidebar-container">
                    <ul class="categories-tree">
                        {% for item in tree %}
                            {{ block('treeLevel') }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div data-column="9">
                {{ block('productList') }}
                {{ block('pagination') }}
            </div>
        </div>
    </div>

    <script>
        // TODO: придумать куда перенести код
        const categories = document.querySelectorAll('.categories-tree a');
        categories.forEach(category => {
            category.addEventListener('click', () => {
                const linkBox = category.closest('li');
                if (!linkBox) {
                    return;
                }

                if (linkBox.classList.contains('categories-show')) {
                    linkBox.classList.remove('categories-show');

                    return;
                }

                linkBox.classList.add('categories-show');
            });
        });

        const active = document.querySelector('.categories-tree a.active');

        if (active) {
            active.closest('li[data-level="2"]').classList.add('categories-show')
        }
    </script>

{% endblock %}

{% block treeLevel %}
    <li data-level="{{ item.category.level }}">
        {% set route = path('catalog_list', {'slug': item.category.slug}) %}
        {% set current = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == route %}

        <a class="{{ current ? 'active' : '' }}"
           href="{{ item.children ? 'javascript:void(0)' : route }}">{{ item.category.name }}</a>

        {% if item.category.level == 2 and item.children %}
            <a class="chevron-box"></a>
        {% endif %}

        {% if item.children %}
            {% if item.category.level > 2 %}
                <div class="right-drop-wrapper">
            {% endif %}
            <ul>
                {% for item in item.children %}
                    {{ block('treeLevel') }}
                {% endfor %}
            </ul>
            {% if item.category.level > 2 %}
                </div>
            {% endif %}
        {% endif %}
    </li>
{% endblock %}
