{% extends 'base.html.twig' %}

{% block pageHeading %}
    <div class="page-title">
        <span>{{ 'SHOP_CART_MY_CART'|trans }}</span>
    </div>
{% endblock %}

{% block body %}
    <div class="cart">
        <div class="grid">
            {% for product in products %}
                {% if not product.offer.fake %}
                    {% set productImages = product.product ? product.product.getImageCollection.getValues() : [] %}
                {% else %}
                    {% set productImages = product.product.images %}
                {% endif %}

                {% set price = product.offer.salePrices[0].value * product.cartItem.amount %}

                <wc-cart-item product="{{ product|json_encode }}"
                              update-item-url="{{ path('cart_item_update') }}"
                              product-images="{{ productImages|json_encode }}"
                              image-path="{{ imagePath }}"
                              article-image-path="{{ articleImagePath }}"
                              cart-item="{{ product|json_encode }}"
                              item-price="{{ product.offer.salePrices[0].value }}"
                              item-amount="{{ product.cartItem.amount }}">
                </wc-cart-item>
            {% endfor %}
            <wc-cart-total make-order-url="{{ path('order_create') }}" total="{{ total }}"></wc-cart-total>
        </div>
    </div>
{% endblock %}