{% use 'shop/information/blocks/content/article.html.twig' %}
{% use 'shop/information/blocks/content/category.html.twig' %}
{% use 'shop/information/blocks/content/index.html.twig' %}

{% block content %}
    {% set blockName = currentCategory and currentArticle ? 'article' : (currentCategory ? 'category' : 'index') %}

    <div class="grid-row">
        <div class="page-title" data-column="9"></div>
        <div class="grid wrap">
            <div class="grid-row">
                {{ block(blockName) }}
            </div>
        </div>
    </div>
{% endblock %}