{% block sidebar %}
    <div data-column="3" class="sidebar-left">
        <div class="grid-row">
            <div class="sidebar-title" data-column="3"><span>Статьи</span></div>
        </div>
        <div class="grid-row">
            <ul class="categories-tree">
                {% for item in articleCategories %}
                    {{ block('treeLevel') }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block treeLevel %}
    <li data-level="2">
        <a href="{{ path('menu_information_list', {'category_id': item.id}) }}">{{ item.name }}</a>
        {% if item.articles %}
            <ul>
                {% for article in item.articles %}
                    <li data-level="3">
                        <a class="{{ currentArticle and article.id == currentArticle.id ? 'active' : '' }}" href="{{ path('menu_information_list', {'category_id': item.id, 'article_id': article.id}) }}">{{ article.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endblock %}