<template>
    <nav class="menu-main top-margin-l position-relative">
        <template v-for="(category, key) in categories">
            <a :href="`/catalog/${category.category.slug}`" :class="`${currentSlug && currentSlug === category.category.slug ? 'active' : ''}`">
                {{ category.category.name }}
            </a>
            <div class="sub-menu position-absolute">
                <tree-level :categories="category.children"></tree-level>
            </div>
        </template>
    </nav>
</template>

<script>
import TreeLevel from "./Tree/TreeLevel";
export default {
    components: {TreeLevel},
    props: {
        categoriesJson: String | null,
        currentSlug: String | null
    },
    data() {
        return {
            categories: []
        }
    },
    mounted() {
        this.categories = JSON.parse(this.categoriesJson);
    }
}
</script>

<style scoped>

</style>
