<template>
    <div class="grid-row cart-item" v-if="cartItemData.cartItem">
        <div class="image" data-column="3">
            <a href="" class="the-cart-product-thumb" v-if="productImages.length">
                <img :src="`${productData.offer.fake ? articleImagePath : imagePath}/${productImagesData[0].image}`" :alt="productData.offer.name">
            </a>
        </div>
        <div class="description" data-column="5">
            <h3 class="description-title">{{ productData.offer.name }}</h3>
            <div class="description-content" v-html="productData.product.announce"></div>
        </div>
        <div class="cart-item-actions" data-column="3" style="margin-left: auto">
            <div class="flex align-center">
                <div class="amount-control" data-cart-change-amount>
                    <a href="javascript:void(0)" @click="setAmount(productData.cartItem.amount - 1)" class="minus" />
                    <input type="text" v-model="productData.cartItem.amount">
                    <a href="javascript:void(0)" @click="setAmount(productData.cartItem.amount + 1)" class="plus" />
                </div>
                <div class="product-price"><b class="pink text-big">{{ parseInt(price) * parseInt(cartItemData.cartItem.amount) }}</b><span> руб.</span></div>
                <a class="remove" href="javascript:void(0)" @click="removeCartItem">
                    <i class="fa fa-close" />
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                cartItemData: JSON.parse(this.cartItem),
                productImagesData: JSON.parse(this.productImages),
                productData: JSON.parse(this.product),
                price: this.itemPrice,
            }
        },
        methods: {
            async removeCartItem() {
                const formData = new FormData();

                formData.append('delete', true);
                formData.append('cartItem', JSON.stringify(this.cartItemData.cartItem));

                const res = await this.ext.httpRequest.getServerData(this.updateItemUrl, 'POST', formData, 'json');

                if (res.removed) {
                    this.cartItemData.cartItem = res.cartItem;

                    document.dispatchEvent(new CustomEvent('cartUpdated', {detail: {total: res.total}}));
                }
            },
            async updateCartItem(cartItem) {
                const formData = new FormData();

                formData.append('cartItem', JSON.stringify(cartItem));

                const res = await this.ext.httpRequest.getServerData(this.updateItemUrl, 'POST', formData, 'json');

                this.cartItemData.cartItem = res.cartItem;

                document.dispatchEvent(new CustomEvent('cartUpdated', {detail: {total: res.total}}));
            },
            setAmount(value) {
                const newValue = parseInt(value);

                if (newValue > 0) {
                    this.productData.cartItem.amount = newValue
                }
            }
        },
        watch: {
            productData: {
                handler(newValue) {
                    this.updateCartItem(newValue.cartItem);
                },
                deep: true
            }
        },
        props: {
            cartItem: String,
            itemPrice: Number,
            itemAmount: Number,
            imagePath: String,
            articleImagePath: String,
            productImages: String,
            product: String,
            updateItemUrl: String
        }
    }
</script>