<template>
    <div class="grid-row total-block">
        <div class="flex align-center" style="margin-left: auto">
            <div>
                <span class="text-biggest">Итого: <span class="pink">{{ totalValue }}</span> руб.</span>
                <a :href="`${!totalValue ? 'javascript:void(0)' : this.makeOrderUrl}`" :class="`btn text-center top-margin-l ${!totalValue ? 'disabled' : ''}`" style="margin-left: auto">Продолжить</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            total: Number,
            makeOrderUrl: String
        },
        data() {
            return {
                totalValue: this.total
            }
        },
        mounted() {
            document.addEventListener('cartUpdated', (data) => {
                if (typeof data.detail.total !== 'undefined') {
                    this.totalValue = data.detail.total;
                }
            })
        }
    }
</script>