{% extends 'base.html.twig' %}

{% use 'shop/learning/blocks/lesson.html.twig' %}

{% block pageHeading %}
    <div class="page-title"><span>{{ 'LEARNING_LIST_TITLE'|trans }}</span></div>
{% endblock %}

{% block body %}
    <div class="lessons">
        {% for lesson in lessons %}
            {{ block('lesson') }}
        {% endfor %}
    </div>
{% endblock %}