<template>
    <ul>
        <li v-for="(category, key) in categories" :data-level="category.category.level" v-if="key <= 2 || toggleAll || category.category.level === 2">
            <div class="title">
                <a :href="`/catalog/${category.category.slug}`">{{ category.category.name }}</a>
                <a href="javascript:void(0)"
                   class="chevron"
                   v-if="category.category.level === 3 && category.children && category.children.length"
                ></a>
            </div>
            <tree-level :parent="category.category" class="sub-level" :key="key" v-if="category.children && category.children.length && category.category.level < 3" :categories="category.children"></tree-level>
        </li>
        <li v-if="parent && parent.level === 2 && !toggleAll && categories.length > 3" class="show-more">
            <a href="javascript:void(0)" @click="toggleAll = true">Показать еще...</a>
        </li>
    </ul>
</template>

<script>
export default {
    name: "tree-level",
    data() {
        return {
            toggleAll: false
        }
    },
    methods: {
        needToggle(category) {
            return category.category.level === 3 && category.children && category.children.length
        }
    },
    props: {
        parent: Object | null,
        categories: Array | null
    }
}
</script>

<style scoped>

.title {
    display: flex;
    align-items: center;
}

.chevron {
    margin-left: 4px;
}

.chevron:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-top: 1px solid #171b26;
    border-right: 1px solid #171b26;
    transform: rotate(45deg);
    transition: transform ease-in-out .2s;
}

[data-level="3"] .sub-level {
    max-height: 200px;
    overflow: hidden;
    transition: all ease-in-out .3s;
}

[data-level="3"] .sub-level.hide {
    max-height: 0;
    padding: 0;
    border: none;
    margin: 0;
}

.chevron.active:after {
    transform: rotate(135deg);
}

.show-more a {
    color: var(--dark-green);
}
</style>
