{% extends 'base.html.twig' %}
{% use 'shop/catalog/productList/blocks/productList.html.twig' %}
{% use 'shop/catalog/product/blocks/description.twig' %}
{% use 'shop/catalog/product/blocks/tabs.twig' %}
{% use 'shop/catalog/product/blocks/advantages.twig' %}
{% use 'shop/catalog/product/blocks/breadcrumbs.twig' %}

{% set available = false %}

{% for offer in offers %}
    {% set priceIsSet = false %}
    {% for price in offer.SalePrices %}
        {% if price.value %}
            {% set priceIsSet = true %}
        {% endif %}
    {% endfor %}
    {% if priceIsSet and offer.stock %}
        {% set available = true %}
    {% endif %}
{% endfor %}

{% set images = product.imageCollection.getValues()|sort((a, b) => b.main - a.main) %}

{% if product.productProperties and product.productProperties.additionalImages %}
    {% set images = images|merge(product.productProperties.additionalImages.getValues()) %}
{% endif %}

{% block body %}
    <div class="grid product-card">
        {{ block('breadcrumbs') }}
        <div class="grid-row top-margin-l">
            <div data-column="3" style="flex-basis: 300px">
                <wc-product-image-slider image-path="{{ imagePath }}" images="{{ images|json_encode }}"></wc-product-image-slider>
            </div>
            <div data-column="9">
                {{ block('description') }}
            </div>
        </div>
        <div class="grid-row">
            <div data-column="9">
                {{ block('tabs') }}
            </div>
            <div data-column="3">
                {{ block('advantages') }}
            </div>
        </div>
    </div>
{% endblock %}