{% extends 'base.html.twig' %}

{% use 'shop/recipe/blocks/sidebar.twig' %}
{% use 'shop/recipe/blocks/recipe.twig' %}

{% block pageHeading %}
    <div class="page-title"><span>{{ 'RECIPE_LIST_TITLE'|trans }}</span></div>
{% endblock %}

{% block body %}
    <div class="grid-row align-start">
        {{ block('recipesSidebar') }}
        {{ block('recipe') }}
    </div>
{% endblock %}