<template>
    <div>
        <span v-if="option.value == '-99'" v-html="option.label" @click.stop></span>
        <span v-else v-html="option.label"></span>
    </div>
</template>

<script type="text/javascript">
    export default {
        methods: {
            deleteElemet() {
                this.$emit('deleteRow', this.option);
            }
        },
        props: ['option']
    }
</script>