<template>
    <div class="banners-wrapper" ref="wrapper">
        <a href="javascript:void(0)" @click="stepBack()" class="controls prev"><i class="fa fa-angle-left"></i></a>
        <a @mouseover="clearBannerInterval()" @mouseleave="createInterval()" :href="banner.link || 'javascript:void(0)'" :target="banner.target" v-for="(banner, index) in banners" class="banner" :style="{
            'background-image': `url(${bannerImagesPath + '/' + banner.image})`,
            'left': (offsetLeft + (index * wrapperWidth)) + 'px'}">
            <div class="banner-content">
                <h2>{{ banner.name }}</h2>
                <div>{{ banner.description }}</div>
            </div>
        </a>
        <a href="javascript:void(0)" @click="stepForward()" class="controls next"><i class="fa fa-angle-right"></i></a>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                currentBanner: null,
                offsetLeft: 0,
                banners: [],
                interval: null
            }
        },
        methods: {
            stepBack() {
                if (!this.offsetLeft) {
                    return;
                }

                this.offsetLeft += this.wrapperWidth
            },
            stepForward() {
                if (-this.offsetLeft === this.wrapperWidth * (this.banners.length - 1)) {
                    return;
                }

                this.offsetLeft -= this.wrapperWidth
            },
            clearBannerInterval() {
                clearInterval(this.interval);
            },
            createInterval() {
                this.interval = setInterval(() => {
                    if (-this.offsetLeft === this.wrapperWidth * (this.banners.length - 1)) {
                        this.offsetLeft = 0;

                        return;
                    }

                    this.stepForward();
                }, 5000);
            }
        },
        computed: {
            wrapperWidth() {
                return this.$refs.wrapper.clientWidth;
            }
        },
        props: {
            bannersJson: String,
            bannerImagesPath: String
        },
        mounted() {
            if (this.bannersJson) {
                this.banners = this.ext.data.getData(this.bannersJson);
                this.createInterval();
            }
        }
    }
</script>