{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid no-margin">
        {% if error %}
            <div class="grid-row">
                <div data-column="12" class="alert dismissible alert-danger top-margin">
                    {{ error.messageKey|trans }}
                    <a href="javascript:void(0)" class="close-alert"><i class="fa fa-close"></i></a>
                </div>
            </div>
        {% endif %}
        <form method="post">
            <div class="grid-row">
                <div data-column="3">
                    <h1>{{ 'SHOP_LOGIN_FORM_TITLE'|trans }}</h1>
                </div>
            </div>
            <div class="grid-row align-items-center">
                <div data-column="1">
                    <label for="inputLogin">{{ 'SHOP_LOGIN_FORM_LOGIN_LABEL'|trans }}</label>
                </div>
                <div data-column="3">
                    <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="block-wise" required autofocus>
                </div>
            </div>

            <div class="grid-row align-items-center">
                <div data-column="1">
                    <label for="inputPassword">{{ 'SHOP_LOGIN_FORM_PASSWORD_LABEL'|trans }}</label>
                </div>
                <div data-column="3">
                    <input type="password" name="password" id="inputPassword" class="block-wise" required>
                </div>
            </div>

            <div class="grid-row align-items-center">
                <div data-column="1">
                    <label>{{ 'SHOP_LOGIN_FORM_REMEMBER_ME'|trans }}</label>
                </div>
                <div data-column="3">
                    <input type="checkbox" id="remember-me" name="_remember_me">
                    <label for="remember-me"></label>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="grid-row align-items-center top-margin-l">
                <div data-column="4">
                    <button class="btn block-wise cursor-pointer background-green" type="submit">{{ 'SIGN_IN'|trans }}</button>
                </div>
            </div>

            <div class="grid-row align-items-center top-margin-l">
                <div data-column="4">
                    <a href="{{ path('user_registration') }}" class="btn text-center">{{ 'SHOP_REGISTRATION_TITLE'|trans }}</a>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
