{% extends 'base.html.twig' %}

{% use 'shop/common/construct.html.twig' %}

{% block pageHeading %}
    <div class="page-title"><span>{{ 'SOAP_CALCULATOR'|trans }}</span></div>
{% endblock %}

{% block body %}
    {{ block('construct') }}
{% endblock %}