<template>
    <div>
        <div v-for="component in components" class="flex top-margin space-between align-center recipe-component">
            <span class="bold recipe-component-title">{{ component.name }}</span>
            <a href="javascript:void(0)" @click="addComponentToCart(component)" class="bold">
                <img src="/assets/images/head-basket.png" alt="">
            </a>
        </div>
        <a href="javascript:void(0)" @click="addAllToCart()" class="btn text-center top-margin-xl">Все в корзину</a>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                components: []
            }
        },
        methods: {
            async addComponentToCart(component) {
                const formData = new FormData();

                formData.append('offerId', component.id.toString());

                const result = await this.ext.httpRequest.getServerData(this.addToCartUrl, 'POST', formData, 'json');

                if (result.cartId) {
                    this.ext.cookie.setCookie('cartId', result.cartId);
                    document.dispatchEvent(new CustomEvent('cartUpdated', {detail: {'showSuccessMessage': true}}));
                }
            },
            async addAllToCart() {
                const formData = new FormData();
                const componentIds = this.components.map(component => component.id);

                formData.append('offerIds', JSON.stringify(componentIds));

                const result = await this.ext.httpRequest.getServerData(this.addAllToCartUrl, 'POST', formData, 'json');

                if (result.cartId) {
                    this.ext.cookie.setCookie('cartId', result.cartId);
                    document.dispatchEvent(new CustomEvent('cartUpdated', {detail: {'showSuccessMessage': true}}));
                }
            }
        },
        props: {
            componentsData: String,
            addToCartUrl: String,
            addAllToCartUrl: String
        },
        mounted() {
            this.components = this.ext.data.getData(this.componentsData)
        }
    }
</script>