<template>
    <div>
        <div class="grid-row align-start">
            <div data-column="9" class="order-left">
                <base-order-block v-for="(block, key) in blocks"
                                  v-model="orderSummary[block.prop]"
                                  :key="key"
                                  :orderSummary="orderSummary"
                                  :block-name="block.name"
                                  :number="key"
                                  :block-props="block.props"
                                  :block-title="block.title" />
            </div>
            <order-total-block :summary="summary"  data-column="3" />
        </div>
        <button @click="submitForm" class="btn cursor-pointer top-margin-xl" type="submit">Оформить</button>
    </div>
</template>

<script>
    import BaseOrderBlock from './blocks/BaseOrderBlock.vue';
    import OrderTotalBlock from './blocks/OrderTotalBlock.vue';

    export default {
        components: {
            BaseOrderBlock, OrderTotalBlock
        },
        props: {
            cartTotal: Number,
            products: String,
            prices: String,
            deliveries: String,
            payments: String,
            paymentIconPath: String,
            totalWeight: Number,
            submitAction: String,
            completedAction: String
        },
        data() {
            return {
                orderSummary: {},
                selectedDeliveryId: null,
                selectedPaymentTypeId: null,
                productsData: [],
                blocks: [
                    {
                        title: 'Оплата',
                        prop: 'payment',
                        name: 'order-payment-block',
                        props: {
                            payments: this.payments,
                            paymentIconPath: this.paymentIconPath
                        }
                    },
                    {
                        title: 'Доставка',
                        prop: 'delivery',
                        name: 'order-delivery-block',
                        props: {
                            deliveries: this.deliveries
                        }
                    },
                    {
                        title: 'Покупатель',
                        prop: 'buyer',
                        name: 'order-buyer-block',
                        props: {
                            deliveryFields: null
                        }
                    },
                    {
                        title: 'Товары в заказе',
                        prop: 'cartItems',
                        name: 'order-cart-block',
                        props: {
                            products: this.products,
                            prices: this.prices
                        }
                    }
                ]
            }
        },
        methods: {
            validateOrderForm() {
                return true;
            },
            async submitForm(evt) {
                if (!this.validateOrderForm()) {
                    return false;
                }

                const formData = new FormData();

                formData.append('order', JSON.stringify({
                    paymentId: this.orderSummary.payment.id,
                    deliveryId: this.orderSummary.delivery.id,
                    buyer: this.orderSummary.buyer
                }));

                const result = await this.ext.httpRequest.getServerData(this.submitAction, 'POST', formData, 'json');

                if (result.success) {
                    window.location.href = this.ext.url.setUrlParam('order_id', result.order_id, window.location.origin + this.completedAction);

                    return true;
                }
            }
        },
        computed: {
            summary() {
                return {
                    cartTotal: this.cartTotal,
                    orderSummary: this.orderSummary,
                    totalWeight: this.totalWeight
                }
            }
        }
    }
</script>