{% block construct %}
    <div class="text-center flex align-center" style="justify-content: center">
        <div class="construct-image">
            <?xml version="1.0" encoding="iso-8859-1"?>
            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
<g>
    <g>
        <path d="M481.845,101.125H230.823c-5.075-20.305-23.468-35.394-45.323-35.394h-3.253L156.566,5.031
			c-1.29-3.05-4.28-5.031-7.591-5.031c-3.311,0-6.301,1.982-7.591,5.031l-25.681,60.7H95.883c-4.553,0-8.243,3.691-8.243,8.243
			v27.15H30.153c-4.553,0-8.243,3.691-8.243,8.243V175.1c0,4.552,3.69,8.243,8.243,8.243h57.489v18.724
			c0,4.552,3.69,8.243,8.243,8.243h11.982v241.383H52.063c-4.553,0-8.243,3.691-8.243,8.243v43.821c0,4.552,3.69,8.243,8.243,8.243
			h114.916c4.553,0,8.243-3.691,8.243-8.243s-3.69-8.243-8.243-8.243H60.306v-27.335h177.338v27.335h-44.288
			c-4.553,0-8.243,3.691-8.243,8.243s3.69,8.243,8.243,8.243h52.531c4.553,0,8.243-3.691,8.243-8.243v-43.821
			c0-4.552-3.69-8.243-8.243-8.243h-55.803V210.309h33.893c4.553,0,8.243-3.691,8.243-8.243v-18.724h200.933v74.785h-4.945
			c-4.553,0-8.243,3.691-8.243,8.243c0,4.552,3.69,8.243,8.243,8.243h4.945v20.994c0,4.552,3.69,8.243,8.243,8.243
			c8.233,0,14.932,6.698,14.932,14.931s-6.699,14.932-14.932,14.932c-8.233,0-14.932-6.699-14.932-14.932
			c0-4.552-3.69-8.243-8.243-8.243c-4.553,0-8.243,3.691-8.243,8.243c0,17.323,14.093,31.418,31.418,31.418
			c17.325,0,31.418-14.094,31.418-31.418c0-14.471-9.837-26.69-23.175-30.32v-13.848h4.945c4.553,0,8.243-3.691,8.243-8.243
			s-3.69-8.243-8.243-8.243h-4.945v-74.785h32.207c4.553,0,8.243-3.691,8.243-8.243v-65.732
			C490.088,104.815,486.398,101.125,481.845,101.125z M38.396,166.857v-37.588l37.588,37.588H38.396z M87.64,155.199l-37.588-37.588
			H87.64V155.199z M148.975,29.399l15.372,36.333h-30.743L148.975,29.399z M173.597,451.692h-37.588l37.588-37.588V451.692z
			 M124.352,440.036v-91.661l45.831,45.83L124.352,440.036z M173.597,374.304l-45.831-45.831l45.831-45.83V374.304z
			 M124.352,308.573v-86.606l43.303,43.303L124.352,308.573z M173.597,247.897l-37.588-37.588h37.588V247.897z M215.734,156.178
			h-59.36v-24.434c0-4.552-3.69-8.243-8.243-8.243s-8.243,3.691-8.243,8.243v32.677c0,4.552,3.69,8.243,8.243,8.243h67.602v21.159
			H104.126V82.218h35.761v22.599c0,4.552,3.69,8.243,8.243,8.243s8.243-3.691,8.243-8.243V82.218h20.384
			c0.01,0,0.02,0.002,0.03,0.002c0.014,0,8.713-0.002,8.713-0.002c16.671,0,30.233,13.563,30.233,30.233V156.178z M232.219,155.199
			v-37.588h37.588L232.219,155.199z M243.877,166.857l43.303-43.303l43.302,43.303H243.877z M304.552,117.611h91.661l-45.831,45.831
			L304.552,117.611z M370.283,166.857l45.831-45.831l45.831,45.831H370.283z M473.602,155.199l-37.588-37.588h37.588V155.199z" fill="#515156"/>
    </g>
</g>
</svg>
        </div>
        <div class="construct-text">
            Извините, раздел находится в разработке
        </div>
    </div>
{% endblock %}