{% block footer %}
    <footer class="footer grid footer">
        <div class="grid-row">
            <div class="footer-left" data-column="3">
                <div class="footer-logo">
                    <a href="/">
                        <img class="logo-img" src="/assets/images/footer-logo.png">
                    </a>
                </div>
                <div class="footer-social-title">{{ 'SHOP_FOOTER_SOCIALS_DESC'|trans }}</div>
                <div class="footer-social">
                    <a href="https://www.youtube.com/channel/UCoMVZkbCPdPv7bgO7w0Adyg" target="_blank">
                        <img src="/assets/images/footer-social-youtube.png" alt>
                    </a>
                    <a href="https://www.instagram.com/planetamyla_nsk/?hl=en" target="_blank">
                        <img src="/assets/images/footer-social-insta.png" alt>
                    </a>
                    <a href="https://ok.ru/planetamyla" target="_blank">
                        <img src="/assets/images/footer-social-ok.png" alt>
                    </a>
                    <a href="https://vk.com/planeta_myla" target="_blank">
                        <img src="/assets/images/footer-social-vk.png" alt>
                    </a>
                </div>
            </div>


            <div class="footer-right" data-column="9">
                <div class="footer-subscribe-title">
                    Рассылка
                </div>
                <div class="footer-subscribe-text">
                    Введите адрес электронной почты, если хотите первыми получать бесплатные мастер-классы, анонсы о
                    новинках и распродажах сразу на свой email.
                </div>
                <div class="footer-subscribe">
                    <div id="asd-subscribe_res" style="display: none"></div>
                    <form action="/" method="post" id="asd-subscribe_res">
                        <div class="row">
                            <div data-column="7">
                                <input class="footer-input" type="text" name="asd_email"
                                       placeholder="Введите Ваш E-mail">
                            </div>
                            <div data-column="2">
                                <button class="footer-btn" type="submit" name="asd_submit" id="asd_submit_subscribe">
                                    Подписаться
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="footer-items top-margin-l flex">
                    <div class="footer-address" data-column="3">
                        <div class="footer-address-image">
                            <img class="footer-address-img" src="/assets/images/footer-address.png">
                        </div>
                        <div class="footer-address-desc left-margin">
                            <div><b>{{ currentShop ? currentShop.address : '' }}</b></div>
                            <div><small>{{ currentShop ? currentShop.addressDescription : '' }}</small></div>
                        </div>
                    </div>
                    <div class="footer-phone flex align-center" data-column="2">
                        <div class="footer-address-image">
                            <img src="/assets/images/footer-phone.png">
                        </div>
                        <div class="left-margin">
                            <a class="text-big white" href="tel:{{ currentShop ? currentShop.phone : '' }}">{{ currentShop ? currentShop.phone : '' }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}