{% use 'shop/common/menu.html.twig' %}
{% use 'shop/common/headerMobile.html.twig' %}

{% block header %}
    {{ block('headerMobile') }}
    <header class="header grid" style="padding-top: 10px">
        <nav class="grid-row">
            <div class="address" data-column="2">
                <img src="/assets/images/head-address.png" alt="head-address">
                <a href="javascript:void(0)"><b>{{ currentShop ? currentShop.address : '' }}</b></a>
                <small>{{ currentShop ? currentShop.addressDescription : '' }}</small>
            </div>
            <div class="phone" data-column="2">
                <img src="/assets/images/head-phone.png" alt="head-phone">
                <a href="tel:+7 952 901 8491">{{ currentShop ? currentShop.phone : '' }}</a>
            </div>
            <div class="header-logo" data-column="4">
                <a href="/"><img src="/assets/images/logo.png" alt="logo"></a>
            </div>
            <div class="login" data-column="2">
                <img src="/assets/images/head-login.png" alt="head-login">
                <span>
                {% if not app.getUser() %}
                    <a href="{{ path('user_login') }}">{{ 'SHOP_LOGIN'|trans }}</a>/<a href="{{ path('user_registration') }}">{{ 'SHOP_REGISTRATION'|trans }}</a>
                {% else %}
                    <a href="{{ path('profile_index') }}">{{ 'SHOP_PROFILE_LINK'|trans }}</a>/<a href="{{ path('user_logout') }}">{{ 'SHOP_LOGOUT'|trans }}</a>
                {% endif %}
            </span>
            </div>

            <div  class="flex actions" data-column="2">
                <div class="search">
                    <img src="/assets/images/head-search.png" alt>
                </div>
                <div class="compare">
                    <img src="/assets/images/head-compare.png" alt>
                </div>
                <wc-header-cart update-url="{{ path('cart_count') }}" link="{{ path('cart_show') }}" current-count="{{ cart and cart.cartItems|length ? cart.cartItems.getValues()|length : 0 }}"></wc-header-cart>
            </div>
        </nav>
        {{ block('menu') }}
        {% for flashType, messages in app.flashes() %}
            {% for message in messages %}
                <div class="alert dismissible alert-{{ flashType }} top-margin">
                    {{ message|trans }}
                    <a href="javascript:void(0)" class="close-alert"><i class="fa fa-close"></i></a>
                </div>
            {% endfor %}
        {% endfor %}
    </header>
{% endblock %}