{% block headerMobile %}
    <header class="mobile-header">
        <div class="flex align-center">
            <div class="burger">
                <div class="burger-title"><i class="fa fa-bars"></i> PLANETA-MYLA.RU</div>
            </div>
            <div class="mobile-header-icons">
                <wc-header-cart update-url="{{ path('cart_count') }}" link="{{ path('cart_show') }}" current-count="{{ cart and cart.cartItems|length ? cart.cartItems.getValues()|length : 0 }}"></wc-header-cart>
                <div class="login" data-column="2">
                    <span>
                        {% if not app.getUser() %}
                            <a href="{{ path('user_login') }}"><img src="/assets/images/head-login.png" alt="head-login"></a>
                        {% else %}
                            <a href="{{ path('profile_index') }}"><img src="/assets/images/head-login.png" alt="head-login"></a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="burger-content">
            {{ block('menu') }}
            <a href="javascript:void(0)" class="close-burger-menu"><i class="fa fa-arrow-up"></i></a>
        </div>
    </header>
{% endblock %}