{% extends 'base.html.twig' %}

{% use 'shop/common/blocks/homeOffers.html.twig' %}
{% use 'shop/common/blocks/homeNews.html.twig' %}
{% use 'shop/common/blocks/homeBenefits.html.twig' %}

{% block body %}
    <div class="grid index-page">
        <div class="grid-row top-margin-l">
            <div data-column="12" class="banners">
                <wc-banner-component banners-json="{{ banners|json_encode }}"
                                     banner-images-path="{{ bannerImagesPath }}">
                </wc-banner-component>
            </div>
        </div>
        {{ block('homeOffers') }}
        {{ block('homeNews') }}
        {{ block('homeBenefits') }}
    </div>
{% endblock %}