{% block menu %}
    {% if menu is defined %}
        <nav class="menu-main top-margin-l">

            {% for item in menu %}
                {% set itemParams = {} %}

                {% for param in item.params %}
                    {% set itemParams = itemParams|merge({(param.key): param.value}) %}
                {% endfor %}

                {% set current = app.request.attributes.get('_route') == item.route and app.request.query.all == itemParams %}

                <a class="{{ current ? 'active' : '' }}" href="{{ path(item.route, itemParams) }}">{{ item.title }}</a>
            {% endfor %}
        </nav>
    {% endif %}

    {% if categories is defined %}
        <wc-header-categories current-slug="{{ app.request.attributes.get('_route_params') ? app.request.attributes.get('_route_params').slug : '' }}" categories-json="{{ categories|json_encode }}"></wc-header-categories>
    {% endif %}
{% endblock %}
