{% block pagination %}
    {% if pages %}
        {% set current = page %}

        <ul class="pagination flex">
            {% for page in 0..pages %}
                <li class="{{ page == current ? 'active' : '' }}">
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query)|merge({'page': page})) }}">
                        {{ page + 1 }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}