{% extends 'base.html.twig' %}

{% use 'shop/information/blocks/sidebar.html.twig' %}
{% use 'shop/information/blocks/content.html.twig' %}

{% block body %}
    <div class="grid">
        <div class="grid-row">
            {{ block('sidebar') }}
            <div data-column="9">
                {{ block('content') }}
            </div>
        </div>
    </div>
{% endblock %}