{% extends 'base.html.twig' %}

{% block pageHeading %}
    <div class="page-title"><span>{{ article.name }}</span></div>
{% endblock %}

{% block body %}
    {{ article.description|raw }}
{% endblock %}