{% block article %}
    <div class="information-list-selected-article">
        <div class="selected-article-image" style="background-image: url('{{ imagePath ~ '/' ~ currentArticle.image }}')"></div>
        <h2 class="selected-article-title">
            {{ currentArticle.name }}
        </h2>
        <div class="selected-article-description text-middle">
            {{ currentArticle.description|raw }}
        </div>
    </div>
{% endblock %}