{% block category %}
    {{ block('currentContentCategory') }}
{% endblock %}

{% block currentContentCategory %}
    <div class="page-title" data-column="9"><span>{{ currentCategory.name }}</span></div>
    <div class="information-list-articles">
        {% for article in currentCategory.articles %}
            {{ block('currentContentArticle') }}
        {% endfor %}
    </div>
{% endblock %}

{% block currentContentArticle %}
    <div class="information-list-index-article flex">
        <div class="information-list-index-article-image" style="background-image: url('{{ imagePath ~ '/' ~ article.image }}')"></div>
        <div class="information-list-index-article-content flex column">
            <a class="article-title" href="{{ path('menu_information', { id: article.id }) }}">{{ article.name }}</a>
            <div class="article-desc">{{ article.announce|raw }}</div>
            <div class="article-controls top-margin-l">
                <a class="btn" href="{{ path('menu_information', { id: article.id }) }}">Подробнее</a>
            </div>
        </div>
    </div>
{% endblock %}