{% block index %}
    {% for articleCategory in articleCategories %}
        {{ block('contentCategory') }}
    {% endfor %}
{% endblock %}

{% block contentCategory %}
    <div class="page-title" data-column="9"><span>{{ articleCategory.name }}</span></div>
    <div class="information-list-articles">
        {% for article in articleCategory.articles %}
            {{ block('contentArticle') }}
        {% endfor %}
    </div>
{% endblock %}

{% block contentArticle %}
    {% set link = path('menu_information_list', { category_id: articleCategory.id, article_id: article.id }) %}

    <div class="information-list-index-article flex">
        <div class="information-list-index-article-image" style="background-image: url('{{ imagePath ~ '/' ~ article.image }}')"></div>
        <div class="information-list-index-article-content flex column">
            <a class="article-title" href="{{ link }}">{{ article.name }}</a>
            <div class="article-desc">{{ article.announce|raw }}</div>
            <div class="article-controls top-margin-l">
                <a class="btn" href="{{ link }}">Подробнее</a>
            </div>
        </div>
    </div>
{% endblock %}