.banners-wrapper {
    width: 100%;
    height: 535px;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}

.banners-wrapper .banner {
    width: 100%;
    height: 535px;
    overflow: hidden;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    display: inline-block;
    transition: left ease-in-out .5s;
}

.banners-wrapper .controls {
    padding: 0;
    border: none;
    width: 38px;
    height: 38px;
    background: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    top: 45%;
    color: var(--pink);
    z-index: 100;
    font-size: 24px;
    text-align: center;
    line-height: 38px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
}

.banners-wrapper .controls:hover {
    background: var(--pink);
    color: #fff;
}

.banners-wrapper .controls.prev {
    left: 30px;
    display: block;
}

.banners-wrapper .controls.next {
    right: 30px;
}

.banners-wrapper .banner-content {
    position: absolute;
    left: 160px;
    top: 40%;
}

.banners-wrapper .banner-content h2 {
    color: var(--pink);
    font-size: 46px;
    margin: 0;
}

.banners-wrapper .banner-content > div {
    font-size: 24px;
    color: var(--black);
}