.tabs {
    font-size: 24px;
}

.tab {
    display: inline-block;
    width: 296px;
    font-size: 20px;
}

.tab.active-tab > div {
    background: #f3c99b;
}

.tab > div {
    text-align: center;
    font-weight: 600;
    color: var(--black);
    transition: 1s border-bottom-color;
    height: 45px;
    line-height: 45px;
    font-size: 17px;
    background: #faebda;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 4px 4px 0 0;
}

.tab.small.small  {
    flex-basis: 128px;
    width: 128px;
    font-size: 14px;
    font-weight: 600;
}

.tab:not(.active-tab) {
    cursor: pointer;
}

.tab > .disabled{
    cursor: default;
    color: rgba(0, 13, 51, 0.2);
}

.tab > div.error,
.tab.active-tab > div.error {
    color: #D23232;
}

.tab-content {
    padding: 16px;
    border: solid 1px var(--gray);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}