:root {
    --black: #515156;
    --green: #92ab06;
    --orange: #eda72e;
    --pink: #fe7589;
    --gray: #d3d4da;
    --yellow: #fbc61d;
    --dark-green: #7e9e1c;
    --ligh-gray: #f2f5f7;
    --font-size-middle: 16px;
    --font-size-normal: 14px;
    --font-size-small: 12px;
    --font-size-big: 18px;
    --font-size-biger: 20px;
    --font-size-bigest: 24px;
}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    color: var(--black);
    font-size: var(--font-size-normal);
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--green);
}

small {
    font-size: var(--font-size-small);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.content-wrapper {
    min-height: 29vh;
}

.block {
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.block-wise {
    width: 100%;
}

.text-middle.text-middle {
    font-size: var(--font-size-middle);
}

.text-normal {
    font-size: var(--font-size-normal);
}

.text-bigger {
    font-size: var(--font-size-biger);
}

.text-biggest {
    font-size: var(--font-size-bigest);
}

.text-big {
    font-size: var(--font-size-big);
}

.bold {
    font-weight: bold;
}

.no-wrap {
    white-space: nowrap;
}

.flex {
    display: flex;
}

.flex.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.flex.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.top-margin-none.top-margin-none {
    margin-top: 0;
}

.top-margin-s {
    margin-top: 5px;
}

.top-margin {
    margin-top: 10px;
}

.top-margin-l {
    margin-top: 20px;
}

.top-margin-xl {
    margin-top: 30px;
}

.bottom-margin-s {
    margin-bottom: 5px;
}

.bottom-margin {
    margin-bottom: 10px;
}

.bottom-margin-l {
    margin-bottom: 20px;
}

.bottom-margin-xl {
    margin-bottom: 30px;
}

.left-margin-s {
    margin-left: 5px;
}

.left-margin {
    margin-left: 10px;
}

.left-margin-l {
    margin-left: 20px;
}

.left-margin-xl {
    margin-left: 30px;
}

.white {
    color: #FFFFFF;
}

.pink {
    color: var(--pink);
}

.green {
    color: var(--green);
}

.dark-green {
    color: var(--dark-green);
}

.relative {
    position: relative;
}

.btn {
    color: var(--green);
    padding: 10px 20px;
    border: 1px solid var(--green);
    display: inline-block;
    transition: all ease-in-out .2s;
    line-height: 1;
    border-radius: 4px;
    background: #FFFFFF;
    cursor: pointer;
}

.btn.disabled,
.btn:disabled {
    color: var(--black);
    background-color: var(--gray);
    border: 1px solid var(--gray);
    cursor: not-allowed;
}

.btn:not(.disabled):not(:disabled):hover,
.btn:not(.disabled):not(:disabled):active {
    color: #FFFFFF;
    background: var(--green);
}

.alert {
    border: solid 1px var(--gray);
    padding: 16px;
    font-size: var(--font-size-middle);
    border-radius: 4px;
    position: relative;
    line-height: 1;
}

.alert.dismissible .close-alert {
    position: absolute;
    right: 16px;
}

.alert.alert-danger,
.alert.alert-danger .close-alert {
    border-color: var(--pink);
    color: var(--pink);
}

.alert.alert-success,
.alert.alert-success .close-alert {
    border-color: var(--dark-green);
    color: var(--dark-green);
}

.alert.alert-notice,
.alert.alert-notice .close-alert {
    border-color: var(--yellow);
    color: var(--yellow);
}

.badge {
    width: 19px;
    height: 19px;
    display: block;
    position: absolute;
    right: -5px;
    top: -5px;
    color: #fff;
    text-align: center;
    line-height: 19px;
    font-size: 12px;
    background: #fcbb9f;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.btn.background-green {
    background: var(--green);
    color: #FFFFFF;
}

.btn.background-green:not(.disabled):not(:disabled):hover,
.btn.background-green:not(.disabled):not(:disabled):active {
    background: var(--orange);
    border: solid 1px var(--orange);
}

.attention img {
    width: 28px;
    height: 28px;
}

.delivery-list {
    list-style: disc;
    padding-left: 14px;
}

.delivery-list > li {
    position: relative;
    line-height: 2;
}

.delivery-list > li::marker {
    color: var(--green);
}

.delivery-info-block {
    padding: 30px 0;
    margin: 30px 0;
    border-top: 1px solid var(--ligh-gray);
    border-bottom: 1px solid var(--ligh-gray);
    min-height: 200px;
}

.left-border {
    padding-left: 30px;
    border-left: 1px solid var(--ligh-gray);
}

.delivery-info-block .right-block > div:first-child {
    margin-top: 34px;
}

.delivery-info-block > div:first-child {
    min-width: 50%;
}

.contacts-right {
    padding: 30px;
    border: 1px solid var(--ligh-gray);
}

.img-margin {
    margin-right: 20px;
    margin-top: 10px;
}

.phone-text {
    margin-top: 17px;
}

.site-text {
    margin-top: 16px;
}

.schedule-text {
    margin-top: 3px;
}


.schedule {
    margin-bottom: 40px;
}

.list  {
    padding-left: 0;
    margin-bottom: 0;

}

.list >li {
    margin-bottom: 2px;
}