.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    position: relative;
    width: auto;
    margin: 0 auto;
    padding: 24px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}

.map-popup .modal-container {
    width: 800px;
}

.modal-container .modal-body {
    overflow: auto;
    max-height: 100%;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.modal-close {
    position: absolute;
    display: block;
    background: url(../images/close.svg) 0 0 no-repeat;
    width: 14px;
    height: 14px;
    top: 8px;
    right: 12px;
    cursor: pointer;
}

.modal-controls {
    display: flex;
    justify-content: flex-end;
}

.modal-controls > a {
    flex-basis: 136px;
}

.modal-controls > a:not(:first-child) {
    margin-left: 16px;
}