.custom-select {
    min-width: 64px;
    position: relative;
}

.custom-select .title {
    border-radius: 4px;
    border: solid 1px var(--gray);
    position: relative;
    color: #171b26;
    padding: 6px 24px 6px 8px;
    cursor: pointer;
    height: 30px;
    box-sizing: border-box;
}

select:disabled + div .title {
    background-color: var(--ligh-gray);
    color: var(--black);
    border: solid 1px rgba(0, 12, 47, 0.1);
}

.custom-select .search {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    background: #FFF;
    width: 90%;
    height: 100%;
}

.custom-select .search:hover {
    border: none;
}

.custom-select .search:focus {
    border: none;
    outline: none;
}

.custom-select .title > div > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.custom-select .title.active {
    color: var(--black);
}

.custom-select .title:after {
    content: '';
    display: block;
    position: absolute;
    right: 12px;
    top: 8px;
    width: 7px;
    height: 7px;
    border-top: 1px solid #171b26;
    border-right: 1px solid #171b26;
    transform: rotate(135deg);
}

.custom-select .title.active:after {
    transform: rotate(-45deg);
    top: 12px;
}

ul.autocomplete,
.custom-select ul {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 8px 0;
    position: absolute;
    background: #FFF;
    z-index: 10000;
    border: solid 1px rgba(0, 13, 51, 0.2);
    top: 22px;
    width: 100%;
    max-height: 260px;
    overflow-y: auto;
}

.custom-select ul.top {
    bottom: 40px;
    top: auto;
}

ul.autocomplete {
    left: 0;
    top: 32px;
    padding: 0;
}

ul.autocomplete li,
.custom-select ul li {
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    padding: 0 16px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 2;
}

ul.autocomplete li:hover {
    color: var(--green);
}

.custom-select ul li:not(.disabled):hover {
    color: var(--green);
}

.custom-select ul li.disabled {
    color: rgba(10, 17, 38, 0.6);
}

.custom-select ul li.selected {
    background-color: rgba(0, 12, 47, 0.05);
}

.custom-select .fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}

.custom-select .fade-enter, .fade-leave-to {
    opacity: 0;
}

.custom-select .selected-item {
    line-height: 24px;
    white-space: nowrap;
    display: inline-block;
}

.custom-select .selected-item:not(:last-child) {
    margin-right: 8px;
}