.cart .cart-item {
    border-bottom: solid 1px var(--gray);
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.cart .cart-item-actions > div {
    height: 100%;
}

.cart .cart-item-actions input[type="text"] {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 30px;
    text-align: center;
    padding: 0 5px;
    border: 1px solid #d8d8dd;
    width: 70px;
    margin: 0 8px;
}

.cart .cart-item-actions .amount-control {
    display: flex;
    align-items: center;
    margin: 0 16px;
}

.cart .cart-item-actions .minus {
    width: 16px;
    height: 16px;
    background: transparent url(../images/minus.png);
    border: none;
    display: block;
}

.cart .cart-item-actions .plus {
    width: 16px;
    height: 16px;
    background: transparent url(../images/plus.png);
    border: none;
    display: block;
}

.cart .cart-item-actions .remove,
.cart .cart-item-actions .product-price {
    margin: 0 8px 0 auto;
}

.cart .cart-item-actions .remove {
    font-size: var(--font-size-biger);
}