form {
    display: block;
}

select, input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
textarea,
label {
    font-size: var(--font-size-normal);
    font-family: 'Lato', sans-serif;
}

select,
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"]  {
    border-radius: 4px;
    height: 30px;
    border: 1px solid var(--gray);
    background: #FFFFFF;
    padding: 0 15px;
    box-sizing: border-box;
}

select:focus,
input:focus {
    outline: none;
    border-color: var(--green);
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    cursor: pointer;
    display: inline-block;
    line-height: 24px;
    height: 24px;
    font-size: 14px;
    color:  var(--black);
    margin-bottom: 0;
    vertical-align: middle;
}

input[type="radio"] + label:before,
input[type="checkbox"] + label:before {
    display: inline-block;
    margin-right: 8px;
    content: '';
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}

input[type="checkbox"] + label:before {
    background: url('../images/input-checkbox.svg') 0 0 no-repeat;
}

input[type="radio"] + label:before {
    background: url('../images/input-radio.svg') 0 0 no-repeat;
}

input[type="radio"] + label:hover:before,
input[type="checkbox"] + label:hover:before {
    background-position: 0 -24px;
}

input[type="radio"]:not(:disabled) + label:active:before,
input[type="checkbox"]:not(:disabled) + label:active:before {
    background-position: 0 -48px;
}

input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before {
    background-position: 0 -96px;
}

input[type="radio"]:checked + label:hover:before,
input[type="checkbox"]:checked + label:hover:before {
    background-position: 0 -120px;
}

input[type="radio"]:checked:disabled + label:before,
input[type="checkbox"]:checked:disabled + label:before {
    background-position: 0 -168px;
}

input[type="radio"]:checked:not(:disabled) + label:active:before,
input[type="checkbox"]:checked:not(:disabled) + label:active:before {
    background-position: 0 -144px;
}

input[type="radio"]:disabled + label:before,
input[type="checkbox"]:disabled + label:before {
    background-position: 0 -72px;
}

input[type="checkbox"].half + label:before {
    background-position: 0 -192px;
}

input[type="checkbox"].half + label:hover:before {
    background-position: 0 -216px;
}

input[type="checkbox"].half:checked:disabled + label:before {
    background-position: 0 -192px;
}

input[type="checkbox"].half:not(:disabled) + label:active:before {
    background-position: 0 -240px;
}

input[type="checkbox"].half:disabled + label:before {
    background-position: 0 -264px;
}

input[type="radio"] + label:hover,
input[type="checkbox"] + label:hover {
    color: var(--black);
}

input[type="radio"]:checked + label:hover,
input[type="checkbox"]:checked + label:hover {
    color: var(--black);
}

input[type="radio"]:not(:disabled):checked + label:active,
input[type="checkbox"]:not(:disabled):checked + label:active {
    color: var(--black);
}

input[type="radio"]:not(:disabled) + label:active,
input[type="checkbox"]:not(:disabled) + label:active {
    color: var(--black);
}

/* disabled */

input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label {
    color: rgba(8, 15, 38, 0.35);
}

input[type="radio"]:checked:disabled + label,
input[type="checkbox"]:checked:disabled + label {
    color: var(--black);
}

input[type="radio"]:checked + label.red,
input[type="checkbox"]:checked + label.red {
    color: var(--pink);
}

input[type="checkbox"].half:checked:disabled + label {
    color: var(--black);
}