.grid {
    width: 1200px;
    margin: 0 auto;
}

.grid.responsive {
    max-width: 1200px;
    width: auto;
}

.grid.wrap .grid-row {
    flex-wrap: wrap;
}

.grid .grid-row {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
}

.grid .grid-row + .grid-row {
    margin-top: 16px;
}

.grid .grid-row [data-column] {
    box-sizing: border-box;
    flex-grow: 1;
}

.grid .grid-row.align-items-center {
    align-items: center;
}

.grid .grid-row [data-column].content {
    padding: 16px 32px;
    border: solid 1px rgba(0, 12, 47, 0.1);
}

.grid .grid-row [data-column].content.narrow {
    padding: 16px;
}

.grid .grid-row [data-column].content h2, .grid .grid-row [data-column].content h3{
    margin-top: 0;
}

.grid .grid-row [data-column].content h2 > a {
    line-height: 24px;
}

.grid .grid-row [data-column]:not(:first-child) {
    margin-left: 16px;
}

.grid .grid-row .grid-block.border-transparent.border-transparent {
    border: solid 1px transparent;
}

.grid [data-column="1"] {
    max-width: 100px;
    flex-grow: 1;
}

.grid [data-column="2"] {
    max-width: 200px;
}

.grid [data-column="3"] {
    max-width: 300px;
}

.grid [data-column="4"] {
    max-width: 400px;
}

.grid [data-column="5"] {
    max-width: 500px;
}

.grid [data-column="6"] {
    max-width: 600px;
}

.grid [data-column="7"] {
    max-width: 700px;
}

.grid [data-column="8"] {
    max-width: 800px;
}

.grid [data-column="9"] {
    max-width: 900px;
}

.grid [data-column="10"] {
    max-width: 1000px;
}

.grid [data-column="11"] {
    max-width: 1100px;
}

.grid [data-column="12"] {
    max-width: 1200px;
}

.grid.wrap .grid-row [data-column] {
    margin-left: 0;
    margin-right: 16px;
}

.grid.no-margin .grid-row [data-column] {
    margin-left: 0;
}