.home-offers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-offers .home-offer {
    width: calc(50% - 8px);
    height: 264px;
    margin-top: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    display: flex;
}

.home-offers .home-offer .home-offer-content {
    width: 44%;
    margin-left: auto;
    padding: 30px 16px 30px 0;
    display: flex;
    flex-direction: column;
}

.home-offers .home-offer .home-offer-content a {
    margin-top: auto;
    width: 156px;
    line-height: 1.33;
}

.home-offers .home-offer .home-offer-content .title {
    font-size: 34px;
    color: var(--pink);
}

.home-offers .home-offer .home-offer-content .description {
    margin-top: 16px;
    font-size: 16px;
}