.order-block {
    margin-bottom: 16px;
}

.order-block .order-block-header {
    min-height: 24px;
    background: var(--ligh-gray);
    padding: 8px;
    font-size: var(--font-size-big);
    cursor: pointer;
}

.order-block .order-block-body {
    padding: 8px;
    border-bottom: solid 1px var(--ligh-gray);
    border-left: solid 1px var(--ligh-gray);
    border-right: solid 1px var(--ligh-gray);
}

.order-block .block-number {
    width: 20px;
    height: 20px;
    background: #FFF;
    text-align: center;
    margin-right: 16px;
    color: var(--gray);
    border-radius: 50%;
    border: solid 1px var(--gray);
    font-size: var(--font-size-small);
    box-sizing: border-box;
    padding-top: 1px;
}

.order-block.opened .block-number {
    color: var(--dark-green);
    border: solid 1px var(--dark-green);
}

.order-block.completed .block-number {
    background: var(--dark-green);
    color: #FFF;
    border: solid 1px var(--dark-green);
    position: relative;
}

.order-block.completed .block-number:before {
    content: '';
    width: 18px;
    display: block;
    height: 18px;
    background: url('../images/sprite.png') no-repeat 0 0;
    background-size: cover;
    position: absolute;
    bottom: -7px;
    right: -7px;
}

.order-block .order-payment,
.order-block .order-delivery {
    width: 140px;
    height: 60px;
    border: solid 2px var(--gray);
    padding: 4px;
    cursor: pointer;
}

.order-block .selected-payment,
.order-block .selected-delivery {
    border: solid 2px var(--green);
    min-height: 160px;
    padding: 16px;
}

.order-block .selected-payment .payment-image-wrapper,
.order-block .selected-delivery .delivery-image-wrapper {
    height: 80px;
}

.order-block .order-payment:not(:first-child),
.order-block .order-delivery:not(:first-child) {
    margin-left: 8px;
}

.order-block .order-payment.selected,
.order-block .order-delivery.selected {
    border: solid 2px var(--green);
}

.order-block .payment-image-wrapper,
.order-block .delivery-image-wrapper {
    width: 100%;
    height: 36px;
}

.order-block .payment-image-wrapper img,
.order-block .delivery-image-wrapper img {
    max-height: 100%;
    width: auto;
}

.order-block .control-group {
    display: flex;
    align-items: center;
}

.order-block .control-group {
    margin-top: 16px;
}

.order-block .control-group label {
    width: 150px;
}

.order-block .buyer-delivery-fields .cdek-address .custom-select {
    min-width: 210px;
}

.order-block .autocomplete-list-wrapper {
    position: relative;
    width: 80%;
}

.order-block .autocomplete-list-wrapper input {
    width: 100%;
}

.order-block .autocomplete-list {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    background: #FFF;
    z-index: 10000;
    border: solid 1px rgba(0, 13, 51, 0.2);
    top: 22px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-sizing: border-box;
}

.order-block .autocomplete-list .autocomplete-list-item {
    cursor: pointer;
    margin-bottom: 8px;
}


.cart-total {
    border: 1px solid var(--gray);
    border-radius: 3px;
    padding: 20px;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    background: #FFFFFF;
    min-width: 300px;
}

.cart-total.fixed {
    position: fixed;
    top: 10px;
    right: 0;
}

.cart-total-line {
    padding: 5px 7px;
    font-size: 13px;
    border-top: 1px solid var(--gray);
    line-height: 25px;
    overflow: hidden;
}

.cart-total-line:first-child {
    border-top: none;
}

.cart-total-line-key {
    font-weight: bold;
}

.cart-total-line-value {
    font-weight: bold;
}

.grid-row .order-left.order-left {
    max-width: 884px;
}