.product-image-slider {

}

.product-image-slider .main-image {
    border: solid 1px var(--ligh-gray);
    width: 300px;
    max-height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-around;
    border-radius: 4px;
    box-sizing: border-box;
}

.product-image-slider .main-image img {
    height: auto;
    width: 100%;
    max-width: none;
}

.product-image-slider .image-previews-wrapper .image-preview {
    box-sizing: border-box;
    border: solid 2px var(--gray);
    cursor: pointer;
    border-radius: 4px;
}

.product-image-slider .image-previews-wrapper .image-preview.active {
    border-color: var(--dark-green);
}

.product-image-slider .image-previews-wrapper .image-preview .image-preview-item {
    width: 80px;
    height: 80px;
    background-size: cover;
}

.product-image-slider .image-previews-wrapper {
    margin-top: 8px;
}

.product-image-slider .image-previews-wrapper .image-preview:not(:first-child) {
    margin-left: 8px;
}

.product-card .add-to-cart-form {
    margin-top: 32px;
}

.product-card .add-to-cart-form .price {
    font-size: 30px;
    margin-bottom: 32px;
}

.product-card .offers {
    justify-content: flex-start;
}

.product-card .offers > div:not(:first-child) {
    margin-left: 16px;
}

.product-card .to-cart button {
    cursor: pointer;
    background: var(--green);
    font-size: var(--font-size-big);
    width: 200px;
    color: #FFFFFF;
}

.product-card .to-cart button:not(.disabled):not(:disabled):hover {
    background: var(--orange);
    border-color: var(--orange);
}

.add-to-cart-form input[type="text"] {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 30px;
    text-align: center;
    padding: 0 5px;
    border: 1px solid #d8d8dd;
    width: 70px;
    margin: 0 8px;
}

.add-to-cart-form .amount-control {
    display: flex;
    align-items: center;
    margin: 24px 0;
}

.product-list .amount-control {
    justify-content: center;
}

.add-to-cart-form .minus {
    width: 16px;
    height: 16px;
    background: transparent url(../images/minus.png);
    border: none;
    display: block;
}

.add-to-cart-form .plus {
    width: 16px;
    height: 16px;
    background: transparent url(../images/plus.png);
    border: none;
    display: block;
}