.lessons {
    margin-top: 41px;
}

.lesson {
    margin-top: 30px;
    border: 1px solid var(--gray);
}

.lesson-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
}

.lesson-top-left {
    display: flex;
}

.lesson-top-left-item {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 15px;
    height: 60px;
    font-size: 17px;
    border-right: 1px solid var(--gray);
}

.lesson-top-right {
    flex: 200px 0 0;
    text-align: center;
    border-left: 1px solid var(--gray);
    font-size: 17px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lesson-title {
    font-size: 20px;
    color: #fe7589;
    text-align: center;
}

.lesson-content {
    padding: 20px;
    overflow: hidden;
}

.lesson-thumb {
    float: left;
    width: 278px;
}

.lesson-content-right {
    margin-left: 308px;
}

.lesson-buttons {
    margin-top: 30px;
}

.lesson-buttons .btn-def {
    min-width: 160px;
    margin-right: 30px;
}