.hidden {
    display: none;
}

header.mobile-header {
    display: none;
}

.header .address,
.header .phone,
.header .header-logo,
.header .login {
    text-align: center;
}

.header > nav > div:not(.header-logo) {
    margin-top: 12px;
}

.header .phone {
    font-size: var(--font-size-big);
}

.header .address img,
.header .phone img,
.header .header-logo img,
.header .login img {
    width: auto;
    margin: 0 auto 8px auto;
    display: block;
}

.header .header-logo {
    margin-left: 0;
}

.header .actions {
    justify-content: flex-end;
}

.header .actions > * {
    margin-left: 16px;
}

.header .basket span:empty {
    display: none;
}

.menu-main {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu-main .sub-menu:hover,
.menu-main > a:hover + .sub-menu {
    max-height: 1000px;
}

.sub-menu {
    overflow: hidden;
    max-height: 0;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 300;
    transition: max-height ease-in-out .4s;
}

.sub-menu > ul {
    display: flex;
    flex-wrap: wrap;
    background: #FFF;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 0 32px 32px 32px;
    border-radius: 8px;
}

.sub-menu > ul li {
    line-height: 2;
    font-weight: 400;
}

.sub-menu > ul li[data-level="2"] {
    width: 25%;
    font-weight: 800;
    line-height: 1.33;
    margin-top: 32px;
}

.sub-menu > ul li[data-level="2"] > ul {
    padding: 0;
    margin-top: 16px;
    font-size: 12px;
}

.sub-menu > ul li[data-level="2"] > ul a {
    font-size: 12px;
}

.sub-menu > ul li[data-level="3"] {
    margin-top: 4px;
}

.sub-menu > ul li[data-level="3"] ul {
    padding-left: 8px;
    margin-top: 8px;
    margin-bottom: 14px;
    padding-bottom: 6px;
    border-bottom: solid 1px #515156;
    border-top: solid 1px #515156;
}

.sub-menu > ul li[data-level="4"] {
    margin-top: 4px;
}

.menu-main > a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #92ab06;
    border-radius: 8px;
    background: #faeef0;
    padding: 10px 15px;
    font-size: 15px;
}

.sub-menu a {
    font-size: 15px;
    text-transform: uppercase;
}

.menu-main + .menu-main a {
    background: #92ab06;
    color: #FFFFFF;
}

.menu-main > a:hover,
.menu-main > a.active {
    background: #eda72e;
    color: #fff;
}

.pagination {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 36px;
}

.pagination > li > a {
    border: solid 1px #CCCCCC;
    padding: 8px 14px;
    min-width: 36px;
    text-decoration: none;
}

.pagination > li.active a {
    background: var(--green);
    color: #FFFFFF;
    border-color: var(--green);
}

.pagination > li:not(:first-child) > a {
    margin-left: -1px;
}

.category {
    display: flex;
    justify-content: space-between;
}

.category a {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    background: #92ab06;
    padding: 10px 19px;
    font-size: 15px;
}

.grid-row .sidebar-left {
    max-width: 284px;
    height: fit-content;
    margin-top: 50px;
    box-shadow: 0 0 6px 0 rgba(134, 134, 134, 0.24);
    border-radius: 4px;
}

.sidebar-left li {
    position: relative;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex: 100%;
    flex-wrap: wrap;
}

.chevron-box {
    position: relative;
    width: 20px;
    height: 20px;
}

.chevron-box:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 8px;
    width: 7px;
    height: 7px;
    border-top: 2px solid var(--pink);
    border-right: 2px solid var(--pink);
    transition: cubic-bezier(0.4, 0, 0.2, 1) .3s;
    transform: rotate(45deg);
    cursor: pointer;
}

.sidebar-left li a {
    font-size: var(--font-size-middle);
    margin-left: 7px;
}

.sidebar-left li a.active {
    color: var(--green);
}

.sidebar-title {
    position: relative;
    text-align: left;
    background-color: var( --green);
    border-radius: 8px 8px 0 0;
    color: white;
    padding: 12px;
    font-size: var(--font-size-big);
    box-shadow: 0 0 6px 0 rgba(134, 134, 134, 0.24);
}

.sidebar-container {
    padding: 0 20px;
}

.categories-tree-controls {
    display: none;
}

.categories-tree {
    padding: 0;
    width: 100%;
}

.categories-tree ul {
    padding-left: 0;
    display: none;
}

.categories-tree li.categories-show ul {
    display: block;
}

.categories-tree li.categories-show .chevron-box:before {
    transition: cubic-bezier(0.4, 0, 0.2, 1) .3s;
    transform: rotate(135deg);
}

.categories-tree li[data-level="2"] > a {
    font-size: var(--font-size-big);
    max-width: 220px;
    color: var(--pink);
    margin: 5px 0;
}

.categories-tree li[data-level="2"] > ul {
    width: 100%;
}

.categories-tree li[data-level="4"]:hover {
    background-color: var(--ligh-gray);
    border-radius: 4px;
}

.categories-tree li[data-level="4"] > a {
    margin: 0;
    padding: 16px;
}

.categories-tree .right-drop-wrapper {
    display: none;
    position: absolute;
    top: -14px;
    left: 243px;
    z-index: 1000;
}

.categories-tree li[data-level="3"] ul {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 6px 0 rgba(134, 134, 134, 0.24);
    margin-left: 24px;
    white-space: nowrap;
}

.categories-tree li[data-level="3"]:hover > .right-drop-wrapper {
    display: block;
}

.page-title {
    margin: 45px 0;
    position: relative;
    text-align: center;
}

.page-title span {
    display: inline-block;
    padding: 0 20px;
    font-size: 46px;
    color: var(--pink);
    background: #fff;
    position: relative;
    z-index: 200;
}

.page-title:before {
    content: '';
    display: block;
    height: 1px;
    top: 50%;
    background: var(--gray);
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 100;
}

.page-title span:before {
    content: '';
    display: inline-block;
    background: #fff;
    border: 1px solid var(--gray);
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.page-title span:after {
    content: '';
    display: inline-block;
    background: #fff;
    border: 1px solid var(--gray);
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.product-list .product,
.product-list .child-category {
    box-sizing: border-box;
    width: 285px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    min-height: 540px;
    transition: box-shadow ease-in-out .2s;
    border-radius: 4px;
    overflow: hidden;
}

.product-list .child-category:hover,
.product-list .product:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.23);
}

.product-list .grid-row .child-category:nth-child(3n),
.product-list .grid-row .product:nth-child(3n) {
    margin-right: 0;
}

.product-list .product img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 245px;
}

.product-list .product .title {
    text-decoration: none;
    color: #515156;
    display: block;
    margin: 15px 0 10px 0;
    font-size: 20px;
    font-weight: 600;
    min-height: 85px;
    overflow: hidden;
}

.product-list .product .description {
    padding: 16px;
    text-align: center;
}

.product-list .product .description .offers {
    text-align: left;
}

.product-card .offers > div:not(:first-child),
.product-list .product .description .offers > div:not(:first-child) {
    margin-left: -1px;
}

.product-card .offers > div:first-child label,
.product-list .product .description .offers > div:first-child label {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.product-card .offers > div:last-child label,
.product-list .product .description .offers > div:last-child label {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.product-card .offers > div label,
.product-list .product .description .offers > div label {
    border: solid 1px var(--gray);
    padding: 5px;
    text-align: center;
    width: 53px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card .offers > div input:checked + label,
.product-list .product .description .offers > div input:checked + label {
    border-color: var(--dark-green);
}

.product-card .offers > div label:before,
.product-list .product .description .offers > div label:before {
    display: none;
}

.product-list .product .description .price {
    min-height: 30px;
    margin-bottom: 16px;
}

.product-list .product .description .price b {
    font-size: 24px;
}

.product-list .product .to-cart .btn {
    width: 156px;
    margin: 16px auto;
}

.product-list .child-category {
    min-height: 310px;
}

.product-list .category-image-wrapper {
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.product-list .category-image-wrapper .no-image {
    width: 250px;
}

.product-list .child-category img {
    display: block;
    width: 100%;
    height: auto;
}

.product-list .child-category .content {
    padding: 15px;
    text-align: center;
}

.product-list .child-category .content a {
    color: var(--pink);
    font-size: var(--font-size-big);
    font-weight: bold;
}

.product-list .child-category .content a:hover {
    color: var(--green);
}

.product-list #sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.product-list #sort label {
    margin-right: 16px;
}

.footer {
    background-color: var(--dark-green);
    padding-top: 60px;
    padding-bottom: 60px;
    height: 232px;
    margin-top: 60px;
    position: relative;
}

.footer:before {
    display: block;
    content: '';
    z-index: -1;
    background: var(--dark-green);
    transform: translate(-50%, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: calc(100vw - 15px);
    min-width: 100%;
}

.footer:after {
    /*transform: translate(50%,0);*/
}

input[type="text"].footer-input {
    display: block;
    width: 100%;
    height: 44px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: none;
    padding: 0 15px;
    background: #fff;
}

.product-card .breadcrumbs {
    display: flex;
    margin: 24px 0;
    color: #FFF;
    padding: 0;
    border-radius: 8px;
}

.product-card .breadcrumb-item {
    font-size: var(--font-size-middle);
    height: 28px;
    display: flex;
    align-items: center;
}

.product-card .breadcrumb-item a {
    margin-bottom: 4px;
}

.product-card .breadcrumb-item a:hover {
    color: var(--green);
}

.product-card .breadcrumb-item:not(:last-child):after {
    content: '';
    margin: 0 8px;
    width: 12px;
    height: 12px;
    background: url('../images/right-arrow.svg') no-repeat;
}

.product-card .breadcrumb-item.to-main:before {
    content: '';
    margin: 0 8px 2px 0;
    width: 18px;
    height: 18px;
    background: url('../images/home.svg') no-repeat;
    background-size: cover;
}

.footer-logo {
    text-align: center;
}

.logo-img {
    width: 203px;
    height: 77px;
}

.footer-social-title {
    color: #FFFFFF;
    margin: 40px 0px 30px;
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
    width: 250px;
}

.register-form #user_registration > div {
    display: flex;
    align-items: center;
    margin-bottom: 16px
}

.footer-social {
    display: flex;
    padding-left: 10px;
    justify-content: space-around;
    width: 200px;
}

.register-form #user_registration label {
    width: 150px;
    display: block;
}

.register-form #user_registration input {
    width: 300px;
}

.footer-right {
    border-left: 1px solid #bfc10a;
    padding-left: 30px;
}

.footer-subscribe-title {
    color: #ffffff;
    font-size: 24px;
}

.footer-subscribe-text {
    color: #FFFFFF;
    font-size: 16px;
    margin: 15px 0px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.footer-input {
    display: block;
    width: 633px;
    height: 44px;
    border-radius: 8px;
    border: none;
    padding: 0 15px;
    background: #fff;
}

.footer-btn {
    display: inline-block;
    text-decoration: none;
    height: 44px;
    color: #fff;
    border-radius: 8px;
    background: #fa7784;
    padding: 10px 19px;
    font-size: 16px;
    border: none;
}

#asd_submit_subscribe {
    font-size: 17px;
}

::placeholder {
    font-size: 18px;
}

.footer-items {
    display: flex;
    color: #ffffff;
}

.footer-address {
    display: inline-flex;
    color: #ffffff;
}

.footer-address-image {
    width: 33px;
    height: 33px;
}

.home-news-item {
    width: 33%;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    border-radius: 6px;
    min-height: 520px;
}

.home-news-item:not(:first-child) {
    margin-left: 16px;
}

.home-news-item .home-news-item-image {
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-news-item-content {
    padding: 24px;
    min-height: 260px;
}

.home-news-item-content .home-news-item-title {
    color: var(--dark-green);
    font-size: var(--font-size-biger);
    font-weight: bold;
    margin-bottom: 16px;
}

.home-news-item-content .home-news-item-title:hover {
    color: var(--pink);
}

.home-news-item-content .home-news-item-announce {
    max-height: 150px;
    overflow: hidden;
}

.home-news-item-content .home-news-item-controls {
    margin-top: auto;
    text-align: center;
}

.home-benefits {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-benefit {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.home-benefit img {
    margin-right: 15px;
}

.construct-text,
.construct-image {
    width: 30%;
}

.construct-text {
    color: var(--pink);
    position: absolute;
    font-size: 26px;
    display: block;
    padding: 32px;
    border: dashed 3px var(--pink);
    background: rgba(255, 255, 255, 0.85);
    transform: rotate(-16deg);
    border-radius: 6px;
}
