.information-list-articles {
    width: 100%;
}

.information-list-articles .information-list-index-article {
    width: 100%;
}

.information-list-articles .information-list-index-article .information-list-index-article-image {
    width: 262px;
    flex-basis: 262px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.information-list-articles .information-list-index-article .information-list-index-article-content {
    flex-shrink: 20;
    margin-left: 16px;
}

.information-list-articles .information-list-index-article .article-title {
    font-size: 18px;
    margin-bottom: 16px;
    text-decoration: none;
    color: var(--pink)
}

.information-list-articles .information-list-index-article {
    padding: 16px 0;
    border-top: solid 1px var(--gray);
    border-bottom: solid 1px var(--gray);
    margin-top: -1px;
}

.information-list-articles .information-list-index-article .article-controls {
    margin-top: auto;
}

.information-list-selected-article {
    min-width: 100%;
}

.information-list-selected-article .selected-article-image {
    width: 100%;
    margin-top: 31px;
    height: 460px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.information-list-selected-article .selected-article-title {
    color: var(--pink);
    font-size: 30px;
    margin-bottom: 20px;
}