.recipe-component .recipe-component-title {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-card {
    flex-basis: 287px;
    border: solid 1px var(--ligh-gray);
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
    overflow: hidden;
}

.recipe-card .recipe-image {
    height: 185px;
    text-align: center;
}

.recipe-card .recipe-image img {
    height: 100%;
    width: auto;
}

.recipe-card .recipe-info {
    padding: 8px;
}

.recipe-card .recipe-info .recipe-title {
    font-size: var(--font-size-biger);
}