.tree-wrapper {
    min-height: 70vh;
}

.admin-tree ul, .admin-tree {
    list-style-type: none;
}

.admin-tree {
    margin: 32px;
    padding: 0;
    width: 95%;
}

.admin-tree li {
    vertical-align: middle;
}

.admin-tree li > *:not(ul) {
    display: inline-block;
    vertical-align: middle;
}

.tree-level {
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.tree-level .products {
    padding-left: 32px;
    margin-bottom: 16px;
}

.tree-level .products .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 410px;
    padding: 8px 0;
}

.tree-level .products .product:not(:last-child) {
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.tree-level .products .product > * + * {
    margin-left: 16px;
}

.tree-level .products .image {
    text-align: center;
    width: 120px;
    height: 60px;
}

.tree-level .products .image img {
    width: auto;
    height: 100%;
}

.admin-tree .title {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
}

.title .title-text {
    margin-left: 8px;
    margin-right: 16px;
    min-width: 200px;
}

.admin-tree .nested {
    padding-left: 16px;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.nested {
    display: none;
}

.active {
    display: block;
}

.actions {
    margin-left: auto;
}

.title > a.title-text,
.controls > a.fa {
    color: var(--text-color-dark);
}

.admin-tree .image {
    max-width: 300px;
    height: 30px;
    overflow: hidden;
    text-align: center;
}

.admin-tree .image img {
    width: auto;
    height: 100%;
}

.field-sale_prices_embedded_form .field-collection-item-row {
    position: relative;
    box-shadow: 0 0 0 1px rgba(43,45,80,.16), 0 0 0 1px rgba(6,122,184,0), 0 0 0 2px rgba(6,122,184,0), 0 1px 1px rgba(0,0,0,.08);
    border-radius: 4px;
    padding: 16px;
}

.field-sale_prices_embedded_form .field-collection-item-row .field-collection-item-action {
    position: absolute;
    right: 16px;
    top: 0;
}

.field-sale_prices_embedded_form .field-collection-item-row .form-group {
    display: flex;
    padding: 0;
    flex-wrap: nowrap;
    margin-bottom: 16px;
}

.field-sale_prices_embedded_form .field-collection-item-row .form-group label {
    text-align: left;
    width: 90px;
    flex-basis: auto;
}

.form-group.field-product_properties_form {
    display: block;
}

.form-group.field-product_properties_form legend {
    width: 85%;
    font-size: 22px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 16px;
}

.form-group.field-product_properties_form .form-group {
    display: flex;
    flex-wrap: nowrap;
}

.form-group.field-product_properties_form .form-group .form-widget {
    margin-left: 8px;
    max-width: 56%;
}

.buyer-info {
    list-style: none;
    padding-left: 0;
}

.form-control > .buyer-info > .buyer-info-row {
    border-top: solid 1px #cccccc;
    padding: 16px 8px;
}

.form-control > .buyer-info > .buyer-info-row:first-child {
    border-top: solid 1px transparent;
}

.buyer-info .buyer-info {
    padding-left: 16px;
}

.buyer-info .label,
.buyer-info .value {
    display: inline-block;
}

.buyer-info .label {
    font-weight: bold;
    min-width: 180px;
}

.field-offer_embedded_form legend {
    display: none;
}

.field-offer_embedded_form .form-widget-compound > div {
    display: flex;
}

.field-offer_embedded_form .field-collection-item-row {
    display: flex;
    border: solid 1px #CCC;
    padding: 10px;
    border-radius: 4px;
    background: #FFF;
}

.field-offer_embedded_form .form-widget-compound > div .form-group {
    padding-bottom: 0;
}

.field-offer_embedded_form .form-widget-compound > div .form-group label {
    flex-grow: 1;
    text-align: left;
    font-weight: bold;
}

#product_imageCollection .field-collection-item-row  {}