{% block lesson %}
    <div class="lesson" id="lesson-{{ lesson.id }}">
        <div class="lesson-top">
            <div class="lesson-top-left">
                <div class="lesson-top-left-item">{{ lesson.actionDate.format('d.m.Y') }}</div>
                <div class="lesson-top-left-item">{{ lesson.actionDate.format('D')|trans }}</div>
                <div class="lesson-top-left-item">{{ lesson.actionDate.format('h:i') }}</div>
            </div>
            <div class="lesson-top-center">
                <div class="lesson-title">{{ lesson.name }}</div>
            </div>
            <div class="lesson-top-right">
                {{ lesson.price ? lesson.price ~ ' руб.' : 'Бесплатно' }}
            </div>
        </div>
        <div class="lesson-content">
            <div class="lesson-thumb">
                <img src="{{ imagePath ~ '/' ~ lesson.image }}" alt="">
            </div>
            <div class="lesson-content-right">
                <div class="lesson-text">{{ lesson.description|raw }}</div>
                <div class="lesson-buttons">
                    <wc-add-lesson-to-cart lesson-id="{{ lesson.id }}" title="{{ lesson.price ? 'LESSON_BUY_BUTTON'|trans : 'LESSON_SINGUP_BUTTON'|trans }}" price="{{ lesson.price }}" action="{{ path('cart_add_lesson') }}">
                    </wc-add-lesson-to-cart>
                </div>
            </div>
        </div>
    </div>
{% endblock %}