{% block advantages %}
    <div class="bold dark-green text-big">Почему выбирают нас:</div>
    <div class="flex align-center top-margin-l">
        <img src="/assets/images/whywe-single-1.png" alt="">
        <span class="left-margin text-middle">Качественный товар по низким ценам</span>
    </div>
    <div class="flex align-center top-margin-l">
        <img src="/assets/images//whywe-single-2.png" alt="">
        <span class="left-margin text-middle">Быстрая сборка и отправка заказа</span>
    </div>
    <div class="flex align-center top-margin-l">
        <img src="/assets/images//whywe-single-1.png" alt="">
        <span class="left-margin text-middle">Собственное производство дизайнерских силиконовых форм</span>
    </div>
    <div class="flex align-center top-margin-l">
        <img src="/assets/images//whywe-single-2.png" alt="">
        <span class="left-margin text-middle">Широкий ассортемент</span>
    </div>
{% endblock %}