{% block breadcrumbs %}
    {% if breadcrumbs %}
        <ul class="breadcrumbs">
            <li class="breadcrumb-item to-main"><a href="/">{{ 'Главная страница' }}</a></li>
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.link }}">{{ breadcrumb.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}