{% block description %}
    <h1 class="top-margin-none">{{ product.name }}</h1>
    <div class="text-middle">
        {{ product.announce|raw|spaceless }}
    </div>

    {% if available %}
        <wc-add-to-cart-form
                show-amount-input="true"
                product-id="{{ product.id }}"
                prices="{{ productPrices|json_encode }}"
                offers="{{ offers|json_encode }}"
                product-offers="{{ productOffers|json_encode }}"
                action="{{ path('cart_add') }}">
        </wc-add-to-cart-form>
    {% else %}
        <div class="text-big top-margin-xl">Нет в наличии</div>
{% endif %}
{% endblock %}