{% block tabs %}
    <wc-base-tab tab-data='["Описание", "Параметры", "Инструкции"]'>
        <div slot="tab-0">
            <div class="text-middle">
                {{ product.description|raw|spaceless }}
            </div>
        </div>
        <div slot="tab-1">
            {% if product.productProperties %}
                <div class="text-middle">
                    {{ product.productProperties.parameters|raw }}
                </div>
            {% endif %}
        </div>
        <div slot="tab-2">
            {% if product.productProperties %}
                <div class="text-middle">
                    {{ product.productProperties.instructions|raw }}
                </div>
            {% endif %}
        </div>
    </wc-base-tab>
{% endblock %}