<template>
    <div class="add-to-cart-form">
        <form :action="action" @submit.stop ref="form">
            <div class="text-left text-big price">
                <div v-if="selectedOffer">
                    <b class="pink">
                        <template v-if="showAmountInput">
                            {{ pricesData[productId][selectedOffer].value * amount }}
                        </template>
                        <template v-else>
                            {{ pricesData[productId][selectedOffer].value }}
                        </template>
                    </b> руб.
                </div>
            </div>
            <div class="offers flex flex-center align-center">
                <div :class="{'no-wrap': true, 'hidden': offersData.length === 1 }" v-for="offer in offersData"
                     v-if="pricesData[productId][offer.id]">
                    <input type="radio" :id="`offer-${ offer.id }`" :value="offer.id" name="offer"
                           v-model="selectedOffer">
                    <label :for="`offer-${ offer.id }`">{{ getOfferName(offer.id) }}</label>
                </div>
            </div>
            <div v-if="showAmountInput">
                <div class="amount-control" data-cart-change-amount>
                    <a href="javascript:void(0)" @click="setAmount(amount - 1)" class="minus"/>
                    <input type="text" v-model="amount">
                    <a href="javascript:void(0)" @click="setAmount(amount + 1)" class="plus"/>
                </div>
            </div>
            <div class="to-cart">
                <button @click.stop @click="addToCart" type="submit" class="btn">В корзину</button>
            </div>
        </form>
    </div>
</template>

<script>
    import ModalWindow from '../../Base/Modal/ModalWindow.vue';

    export default {
        data() {
            return {
                offersData         : [],
                productOffersData  : [],
                pricesData         : {},
                selectedOffer      : null,
                amount             : 1,
                showResultModalFlag: false
            }
        },
        props  : {
            showAmountInput: Boolean,
            action         : String,
            offers         : String,
            productOffers  : String,
            prices         : String,
            productId      : Number
        },
        methods: {
            getOfferName(offerId) {
                const productOffer = this.productOffersData.find(productOffer => {
                    return productOffer.offer.id === offerId
                })

                if (productOffer) {
                    return productOffer.displayName;
                }

                return '';
            },
            setAmount(newValue) {
                if (newValue <= 1) {
                    this.amount = 1;

                    return;
                }

                this.amount = newValue;
            },
            addToCart($ev) {
                $ev.preventDefault();
                const formData = new FormData();

                formData.append('offerId', this.selectedOffer);

                if (this.showAmountInput) {
                    formData.append('amount', this.amount)
                }

                this.ext.httpRequest.getServerData(this.action, 'POST', formData, 'json').then((data) => {
                    this.ext.cookie.setCookie('cartId', data.cartId);
                    document.dispatchEvent(new CustomEvent('cartUpdated', {detail: {'showSuccessMessage': true}}));
                    this.amount = 1;
                });
            }
        },
        mounted() {
            this.offersData = this.ext.data.getData(this.offers);
            this.productOffersData = this.ext.data.getData(this.productOffers);
            this.pricesData = this.ext.data.getData(this.prices);

            if (this.offersData && this.offersData.length) {
                this.selectedOffer = this.offersData[0].id
            }
        },
        components: {ModalWindow}
    }
</script>