<template>
    <div>
        <div id="sort">
            <div class="flex align-center">
                <label for="sort_orderBy" class="required">Сортировка по:</label>
                <base-select @change="submitSearch" name="orderBy" style="width: 300px" v-model="selectedValues.sort" :data="sortOptions"></base-select>
            </div>
            <div>
                <label for="sort_search">Поиск</label>
                <input id="sort_search"  type="text" @keydown.enter="submitSearch" v-model="selectedValues.search">
            </div>
        </div>
    </div>
</template>
<script>
    import BaseSelect from "../../Base/Select/BaseSelect.vue";

    export default {
        components: {BaseSelect},
        props: {
            currentSort: String,
        },
        methods: {
            submitSearch() {
                let url = window.location.href;
                url     = this.ext.url.setUrlParam('sort[orderBy]', this.selectedValues.sort, url);
                url     = this.ext.url.setUrlParam('sort[search]', this.selectedValues.search, url);

                if (url !== window.location.href) {
                    window.location.href = url;
                }
            }
        },
        data() {
            return {
                selectedValues: {
                    sort: null,
                    search: ''
                },
                sortOptions: [
                    {
                        label: 'По названию',
                        value: 'name_DESC'
                    },
                    {
                        label: 'По названию по возрастанию',
                        value: 'name_ASC'
                    },
                    {
                        label: 'По цене от дешевого к дорогому',
                        value: 'price_ASC'
                    },
                    {
                        label: 'По цене от дорогого к дешевому',
                        value: 'price_DESC'
                    }
                ]
            }
        },
        created() {
            if (this.currentSort) {
                const currentSort = this.ext.data.getData(this.currentSort);
                this.selectedValues.sort = currentSort.orderBy;
                this.selectedValues.search = currentSort.search;
            }
        }
    }
</script>