<template>
    <div class="lesson-buttons">
        <button class="btn cursor-pointer add-to-cart" @click="addToCart">{{ title }}</button>
    </div>
</template>

<script>
    export default {
        props: {
            lessonId: Number,
            price: Number | String,
            title: String,
            action: String
        },
        methods: {
            addToCart() {
                const formData = new FormData();

                formData.append('isLesson', 'true');
                formData.append('lessonId', this.lessonId.toString());

                this.ext.httpRequest.getServerData(this.action, 'POST', formData, 'json').then((data) => {
                    this.ext.cookie.setCookie('cartId', data.cartId);
                    document.dispatchEvent(new CustomEvent('cartUpdated', {detail: {'showSuccessMessage': true}}));
                });
            }
        }
    }
</script>