{% extends '@EasyAdmin/default/list.html.twig' %}

{% block main %}
    <wc-category-tree
            tree="{{ tree|json_encode }}"
            edit-category-link-pattern="{{ path('easyadmin', _request_parameters|merge({ action: 'edit', id: '%id%' })) }}"
            edit-product-link-pattern="{{ path('easyadmin', _request_parameters|merge({ entity: 'Product', action: 'edit', id: '%id%' })) }}"
            delete-product-link-pattern="{{ path('easyadmin', _request_parameters|merge({ entity: 'Product', action: 'delete', id: '%id%', 'force': true })) }}"
            delete-category-link-pattern="{{ path('easyadmin', _request_parameters|merge({ action: 'delete', id: '%id%', 'force': true })) }}"
    >
    </wc-category-tree>
{#    <div class="tree-wrapper">#}
{#        <div class="table datagrid admin-tree">#}
{#            <div class="children">#}
{#                {% for item in tree %}#}
{#                    <div class="tree-level" data-id="{{ item.category.id }}"#}
{#                         data-parent-id="{{ item.category.parentId }}"#}
{#                         data-level="{{ item.category.level }}">{{ block('treeLevel') }}</div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <script type="text/javascript">#}
{#        document.addEventListener('DOMContentLoaded', () => {#}
{#            new AdminTree()#}
{#        })#}
{#    </script>#}
{% endblock %}

{% block table_head %}{% endblock %}
{% block paginator %}{% endblock %}

{% block treeLevel %}
    {% set _item_id = item.category.getId() %}
    <div class="title">
        <span class="caret fa fa-fw {% if item.children|length or item.products|length %}fa-folder{% else %}fa-folder-o{% endif %}"></span>
        <a class="title-text"
           href="{{ path('easyadmin', _request_parameters|merge({ action: 'edit', id: _item_id })) }}">{{ item.category.getName() }}</a>
        <div class="image">
            {% if item.category.image %}
                <img src="{{ fields.image.base_path ~ '/' ~ item.category.image }}"/>
            {% endif %}
        </div>
        <div class="actions">
            {{ block('item_actions') }}
        </div>
    </div>
    <div class="children">
        {% if item.children|length %}
            {% for item in item.children %}
                <div class="tree-level nested" data-id="{{ item.category.id }}"
                     data-parent-id="{{ item.category.parentId }}" data-level="{{ item.category.level }}">
                    {{ block('treeLevel') }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% if item.products %}
        <div class="products nested" data-id="{{ item.category.id }}" data-parent-id="{{ item.category.parentId }}" data-level="{{ item.category.level }}">
            {% for product in item.products %}
                <div class="product">
                    <div class="image">
                        {% if product.imageCollection %}
                            {% for image in product.imageCollection %}
                                {% if image.main %}
                                    <img src="{{ fields.image.base_path ~ '/' ~ image }}" alt="">
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="title">{{ product.name }}</div>
                    <table>
                        <td><a href="{{ path('easyadmin', _request_parameters|merge({ entity: 'Product', action: 'edit', id: product.id })) }}" class="fa fa-edit"></a></td>
                        <td><a href="{{ path('easyadmin', _request_parameters|merge({ entity: 'Product', action: 'delete', id: product.id, 'force': true })) }}" class="fa fa-close text-danger" target="_self"></a></td>
                    </table>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block item_actions %}
    <div>
        <a href="{{ path('easyadmin', _request_parameters|merge({ action: 'edit', id: _item_id })) }}"
           class="fa fa-edit"></a>
        <a href="{{ path('easyadmin', _request_parameters|merge({ action: 'delete', id: _item_id, 'force': true })) }}"
           class="fa fa-close"></a>
    </div>
{% endblock %}

{% block global_actions %}

    <div class="button-action">
        <a class="btn btn-primary action-import"
           href="{{ path('easyadmin', _request_parameters|merge({ action: 'import' })) }}">
            {{ 'IMPORT_PRODUCTS_AND_CATEGORIES'|trans }}
        </a>
    </div>

    {% if easyadmin_action_is_enabled_for_list_view('new', _entity_config.name) %}
        {% set _action = easyadmin_get_action_for_list_view('new', _entity_config.name) %}
        {% block new_action %}
            <div class="button-action">
                <a class="{{ _action.css_class|default('') }}"
                   href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}"
                   target="{{ _action.target }}">
                    {% if _action.icon %}<i class="fa fa-fw fa-{{ _action.icon }}"></i>{% endif %}
                    {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
                </a>
            </div>
        {% endblock new_action %}
    {% endif %}
{% endblock %}
