<template>
    <div>
        <a class="basket relative" :href="link" id="header-cart">
            <img src="/assets/images/head-basket.png" alt>
            <span class="badge" v-if="cartItemsCount">{{ cartItemsCount }}</span>
        </a>
        <modal-window :show-from-prop="showResultModalFlag" width="478px" @modalClosed="showResultModalFlag = false">
            <div slot="body">
                <div class="text-center text-biggest">Товар успешно добавлен в корзину</div>
            </div>
        </modal-window>
    </div>
</template>

<script>
    import ModalWindow from '../../Base/Modal/ModalWindow.vue';

    export default {
        data() {
            return {
                cartItemsCount: this.currentCount,
                showResultModalFlag: false
            }
        },
        props: {
            link: String,
            currentCount: Number,
            updateUrl: String
        },
        methods: {
            async updateHeaderCart(showSuccessMessage = false) {
                const response = await fetch(this.updateUrl).then(data => data.json());

                if (response.itemsCount) {
                    this.cartItemsCount = response.itemsCount;
                }

                if (showSuccessMessage) {
                    this.showResultModalFlag = true;
                }
            }
        },
        mounted() {
            document.addEventListener('cartUpdated', (ev) => {
                const showSuccessMessage = ev.detail && ev.detail.showSuccessMessage;

                this.updateHeaderCart(showSuccessMessage);
            });
        },
        components: {ModalWindow}
    }
</script>