<template>
    <div :class="`order-block ${blockOpened ? 'opened' : ''} ${wasShown ? 'completed' : ''}`">
        <div :class="`order-block-header flex align-items-center`" @click="() => {blockOpened = !blockOpened; wasShown = true}">
            <div class="block-number">{{ number + 1 }}</div>
            <div>{{ blockTitle }}</div>
        </div>
        <div class="order-block-body" v-show="blockOpened">
            <component @input="$emit('input', $event)" :is="blockName" v-bind="blockProps" :order-summary="orderSummary" />
        </div>
    </div>
</template>

<script>
    import OrderCartBlock from './OrderCartBlock.vue';
    import OrderDeliveryBlock from './OrderDeliveryBlock.vue';
    import OrderBuyerBlock from './OrderBuyerBlock.vue';
    import OrderPaymentBlock from './OrderPaymentBlock.vue';

    export default {
        components: {OrderCartBlock, OrderDeliveryBlock, OrderBuyerBlock, OrderPaymentBlock},
        data() {
            return {
                wasShown: false,
                blockOpened: false
            }
        },
        props: {
            orderSummary: Object,
            blockProps: Object,
            blockName: String,
            blockTitle: String,
            number: Number
        }
    }
</script>

<style scoped>

</style>