<template>
    <div class="grid-row">
        <div class="flex flex-wrap" data-column="6">
            <div :class="`order-delivery text-center ${delivery.id === selectedDeliveryId ? 'selected' : ''}`"
                 @click="selectDelivery(delivery)"
                 v-for="delivery in deliveryList">
                <div class="delivery-image-wrapper">
                    <img :src="delivery.icon" :alt="delivery.name">
                </div>
                <small class="gray block top-margin">{{ delivery.name }}</small>
            </div>
        </div>
        <div data-column="3">
            <div v-if="selectedDelivery" class="selected-delivery">
                <h3 class="top-margin-none">{{ selectedDelivery.name }}</h3>
                <div class="delivery-image-wrapper">
                    <img :src="selectedDelivery.icon" :alt="selectedDelivery.name">
                </div>
                <small class="gray block top-margin" v-html="selectedDelivery.description"></small>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            deliveries: String,
            orderSummary: Object
        },
        data() {
            return {
                selectedDeliveryId: null,
                deliveryList: []
            }
        },

        computed: {
            selectedDelivery() {
                if (this.selectedDeliveryId === null) {
                    return null;
                }

                return this.deliveryList.find(delivery => delivery.id === this.selectedDeliveryId)
            }
        },

        methods: {
            selectDelivery(delivery) {
                this.selectedDeliveryId = delivery.id
            }
        },

        watch: {
            selectedDeliveryId: function (deliveryId) {
                this.$emit('input', this.deliveryList.find(delivery => delivery.id === deliveryId))
            }
        },

        created() {
            this.deliveryList = this.ext.data.getData(this.deliveries)
        }
    }
</script>