<template>
    <div class="grid">
        <div class="grid-row" v-for="product in productsData">
            <div data-column="5">
                <b>{{ product.offer.name }}</b>
            </div>
            <div data-column="1">{{ product.offer.weight }} кг.</div>
            <div data-column="1">{{ product.cartItem.amount }} шт.</div>
            <div data-column="2">{{ parseInt(pricesData[product.cartItem.id]) * parseInt(product.cartItem.amount) }} руб.</div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                productsData: [],
                pricesData: {}
            }
        },
        props: {
            products: String,
            prices: String,
            orderSummary: Object
        },
        mounted() {
            this.productsData = Object.values(this.ext.data.getData(this.products));
            this.pricesData = this.ext.data.getData(this.prices);
        }
    }
</script>

<style scoped>

</style>