<template>
    <div :class="{'cart-total': true, fixed}" :style="{left: `${initialRightOffset - 16 }px`}">
        <div class="cart-total-line flex space-between">
            <div class="cart-total-line-key">Товаров на</div>
            <div class="cart-total-line-value">{{ summary.cartTotal }} руб.</div>
        </div>
        <div class="cart-total-line flex space-between">
            <div class="cart-total-line-key">Общий вес</div>
            <div class="cart-total-line-value">{{ summary.totalWeight }} кг.</div>
        </div>
        <div class="cart-total-line flex space-between" v-if="summary.orderSummary.payment">
            <div class="cart-total-line-key">Оплата</div>
            <div class="cart-total-line-value">{{ summary.orderSummary.payment.title }}</div>
        </div>
        <div class="cart-total-line flex space-between" v-if="summary.orderSummary.delivery">
            <div class="cart-total-line-key">Доставка</div>
            <div class="cart-total-line-value">{{ summary.orderSummary.delivery.name }}</div>
        </div>
        <div class="cart-total-line flex space-between">
            <div class="cart-total-line-key">Итого</div>
            <div class="cart-total-line-value text-biggest">{{ summary.cartTotal }} руб.</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            summary: Object
        },
        data() {
            return {
                fixed: false,
                initialTopOffset: 0,
                initialRightOffset: 0
            }
        },
        methods: {
            checkFixed() {
                return window.pageYOffset > this.initialTopOffset
            }
        },
        mounted() {
            this.initialTopOffset   = this.$el.offsetTop;
            this.initialRightOffset = this.$el.getBoundingClientRect().left;

            this.fixed = this.checkFixed();

            document.addEventListener('scroll', () => {
                this.fixed = this.checkFixed()
            })
        }
    }
</script>

<style scoped>

</style>