<template>
    <div class="grid-row">
        <div class="flex flex-wrap" data-column="6">
            <div :class="`order-payment text-center ${selectedPayment && payment.id === selectedPayment.id ? 'selected' : ''}`"
                 @click="selectPayment(payment)"
                 v-for="payment in paymentItems">
                <div class="payment-image-wrapper">
                    <img :src="`${paymentIconPath}/${payment.icon}`" :alt="payment.title">
                </div>
                <small class="gray block top-margin">{{ payment.title }}</small>
            </div>
        </div>
        <div data-column="3">
            <div v-if="selectedPayment" class="selected-payment">
                <h3 class="top-margin-none">{{ selectedPayment.title }}</h3>
                <div class="payment-image-wrapper">
                    <img :src="`${paymentIconPath}/${selectedPayment.icon}`" :alt="selectedPayment.title">
                </div>
                <small class="gray block top-margin" v-html="selectedPayment.description"></small>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                paymentItems: [],
                selectedPayment: null
            }
        },
        methods: {
            selectPayment(payment) {
                this.selectedPayment = payment
            }
        },
        props: {
            payments: String,
            paymentIconPath: String
        },
        watch: {
            selectedPayment: {
                handler(selectedPayment) {
                    this.$emit('input', selectedPayment)
                }, deep: true
            }
        },
        mounted() {
            this.paymentItems = this.ext.data.getData(this.payments);
        }
    }
</script>