<template>
    <div class="order-buyer-block">
        <div class="buyer-delivery-fields" v-if="orderSummary.delivery && orderSummary.delivery.fields.length">
            <div v-for="field in orderSummary.delivery.fields">
                <component :is="`order-buyer-${field.type}`" v-model="buyerSummary[field.name]" :field="field" />
            </div>
        </div>
    </div>
</template>

<script>
    import OrderBuyerText from './OrderBuyerBlockFields/OrderBuyerText.vue';
    import OrderBuyerCdek_address from './OrderBuyerBlockFields/OrderBuyerCdek_address.vue';
    import OrderBuyerAddress from './OrderBuyerBlockFields/OrderBuyerAddress.vue';

    export default {
        data() {
            return {
                buyerSummary: {}
            }
        },
        props: {
            deliveryFields: Object,
            orderSummary: Object
        },
        watch: {
            buyerSummary: {
                handler() {
                    this.$emit('input', this.buyerSummary)
                },
                deep: true
            }
        },
        components: {OrderBuyerText, OrderBuyerCdek_address, OrderBuyerAddress}
    }
</script>