{% use 'shop/common/header.html.twig' %}
{% use 'shop/common/footer.html.twig' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/font-awesome.css">
    {% block stylesheets %}
        {{ encore_entry_link_tags('shop') }}
    {% endblock %}
</head>
<body>

{{ block('header') }}

<div class="grid content-wrapper">
    <div class="grid-row">
        <div data-column="12">
            {% block pageHeading %}{% endblock %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{{ block('footer') }}

{% block javascripts %}
    {{ encore_entry_script_tags('shop') }}
{% endblock %}
</body>
</html>
