{% block homeOffers %}
    <div class="home-offers">
        {% for offer in homeOffers %}
            <div class="home-offer" style="background-image: url('{{ bannerImagesPath ~ '/' ~ offer.image }}')">
                <div class="home-offer-content">
                    <div class="title">{{ offer.title }}</div>
                    <div class="description">{{ offer.description|raw }}</div>
                    <a href="{{ offer.link }}" target="_blank" class="btn background-green top-margin-xl text-center text-big">{{ 'SHOP_INDEX_PAGE_HOME_OFFERS_SHOW_MORE'|trans }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}