{% block homeNews %}
    <h2 class="page-title"><span>Новости «Планеты мыла»</span></h2>
    <div class="flex home-news">
        {% for item in homeNews %}
            {{ block('newsItem') }}
        {% endfor %}
    </div>
{% endblock %}

{% block newsItem %}
    <div class="home-news-item">
        <div class="home-news-item-image" style="background-image: url('{{ newsImagePath ~ '/' ~ item.image }}')"></div>
        <div class="home-news-item-content flex column">
            <a href="{{ path('menu_information', {id: item.id}) }}" class="home-news-item-title">
                {{ item.name }}
            </a>
            <div class="home-news-item-announce text-middle">{{ item.announce|raw }}</div>
            <div class="home-news-item-controls">
                <a href="{{ path('menu_information', {id: item.id}) }}" class="btn">Подробнее</a>
            </div>
        </div>
    </div>
{% endblock %}