{% block homeBenefits %}
    <div class="home-benefits top-margin-xl">
        <div class="home-benefit">
            <div class="home-benefit-icon">
                <img src="/assets/images/benefit1.png" alt="">
            </div>
            <div class="text-middle">Доставка по России<br>и Казахстану</div>
        </div>
        <div class="home-benefit">
            <div class="home-benefit-icon">
                <img src="/assets/images/benefit2.png" alt="">
            </div>
            <div class="text-middle">Проводим мастер-<br>классы</div>
        </div>
        <div class="home-benefit">
            <div class="home-benefit-icon">
                <img src="/assets/images/benefit3.png" alt="">
            </div>
            <div class="text-middle">Более 4000 товаров<br>в наличии</div>
        </div>
        <div class="home-benefit">
            <div class="home-benefit-icon">
                <img src="/assets/images/benefit4.png" alt="">
            </div>
            <div class="text-middle">Вт-Пт с 10:00 до 20:00<br>Сб- с 12:00 до 17:00<br>Вс-Пн выходной</div>
        </div>
    </div>
{% endblock %}