<template>
    <textarea :name="name" :cols="cols" :rows="rows" :id="id" :class="className" :disabled="disabled" :autcomplete="autocomplete">{{ valueStatic }} {{ influenceVal }} {{ agentPrefix }}</textarea>
</template>

<script type="text/javascript">

    export default {
        data() {
            return {
                influenceVal: '',
            };
        },
        props: ['name', 'cols', 'rows', 'placeholder', 'className', 'disabled', 'influence-element', 'value-static', 'agent-prefix', 'value', 'autocomplete', 'id'],
        mounted() {

            this.ext.event.observeEvent('input', this.influenceElement, evt => {
                this.influenceVal = evt.target.value
            });


            setTimeout(() => {
                let influenceNode = document.querySelector(this.influenceElement);

                if (influenceNode) {
                    this.influenceVal = influenceNode.value
                }
            }, 200);
        }
    }
</script>