{% block category %}
    <div class="grid-row">
        <div class="page-title" data-column="9"><span>{{ category.category.name }}</span></div>
        <div class="grid wrap">
            <div class="grid-row">
                {% for child in category.children %}
                    {{ block('subcategories') }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block subcategories %}
    <div class="child-category" data-column="3">
        <div class="category-image-wrapper">
            {% if child.category.getImage() %}
                <img src="{{ imagePath ~ '/' ~ child.category.getImage() }}" alt="{{ child.category.name }}">
            {% else %}
                <img class="no-image" src="/assets/images/no-image.svg" alt="{{ child.category.name }}">
            {% endif %}
        </div>
        <div class="content"><a href="{{ path('catalog_list', {'slug': child.category.slug}) }}">{{ child.category.name }}</a></div>
    </div>
{% endblock %}