{% use 'shop/catalog/productList/blocks/product.html.twig' %}
{% use 'shop/catalog/productList/blocks/category.html.twig' %}
{% use 'shop/catalog/productList/blocks/sort.html.twig' %}

{% block productList %}
    {% if not childrenCategories|length %}
        <div class="page-title">
            <span>{{ category.name }}</span>
        </div>
    {% endif %}
    <div class="grid wrap responsive product-list">

        {% if not childrenCategories|length %}
            {{ block('sort') }}
        {% endif %}

        {% for category in childrenCategories %}
            {{ block('category') }}
        {% endfor %}
        <div class="grid-row">
            {% if products|length %}
                {% for product in products %}
                    {{ block('product') }}
                {% endfor %}
            {% elseif app.request.query.get('sort').search is defined %}
                <div class="text-center block-wise text-big">
                    {{ 'NOTHING_FOUND'|trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}