{% block product %}
    {% set productOffers         = offers[product.id].offers is defined ? offers[product.id].offers : [] %}
    {% set productOffersRelation = offers[product.id].productOffers is defined ? offers[product.id].productOffers : [] %}
    {% set available = false %}

    {% for offer in productOffers %}
        {% set priceIsSet = false %}

        {% for price in offer.SalePrices %}
            {% if price.value %}
                {% set priceIsSet = true %}
            {% endif %}
        {% endfor %}

        {% if priceIsSet and offer.stock %}
            {% set available = true %}
        {% endif %}
    {% endfor %}

    <div class="product" data-column="3">
        <div>
            {% if product.getMainImage() %}
                <img src="{{ imagePath ~ '/' ~ product.getMainImage() }}" alt="{{ product.name }}">
            {% else %}
                <img src="/assets/images/no-image.svg" alt="{{ product.name }}">
            {% endif %}
        </div>
        <div class="description">
            <div class="title">
                <a href="{{ path('catalog_product', {'categorySlug': category.slug, 'productSlug': product.slug}) }}">{{ product.name }}</a>
            </div>
            {% if available %}
                <wc-add-to-cart-form product-id="{{ product.id }}" prices="{{ productPrices|json_encode }}"
                                     offers="{{ productOffers|json_encode }}"
                                     show-amount-input="true"
                                     product-offers="{{ productOffersRelation|json_encode }}"
                                     action="{{ path('cart_add') }}"></wc-add-to-cart-form>
            {% else %}
                <div class="not-in-stock">Нет в наличии</div>
            {% endif %}
        </div>
    </div>
{% endblock %}