{% extends 'email/base.email.twig' %}

{% block text %}
    <div>Ваш заказ №{{ order.getId() }} успешно оформлен</div>
    <div>Вы заказали:</div>
    <ul>
        {% for key, item in order.getOrderItems() %}
            <li>#{{ key }}: {{ item.name }} - <span style="font-weight: bold">{{ item.price }}</span></li>
        {% endfor %}
    </ul>
{% endblock %}