<template>
    <div>
        <div class="tabs grid-row" :class="classes">
            <div :data-column="dataColumn" class="tab" v-for="(tab, index) in tabs"
                 v-bind:class="{'active-tab': isActiveTab(index), [tabClass]: true}" @click="handleClickActive(index)">
                <div v-if="tab.disabled" @click.stop v-html="tab.name"
                     v-bind:class="{'disabled': tab.disabled}"></div>
                <div v-else v-html="tab.name" v-bind:class="{'error': tab.hasError}"></div>
            </div>
            <div :data-column="aditionalColumn" v-show="aditionalColumn"></div>
        </div>
        <div v-for="(slotName, index) in Object.keys($slots)" v-show="isActiveTab(index)" class="tab-content">
            <slot :name="slotName"></slot>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                tabs           : [],
                active         : 0,
                dataColumn     : 4,
                aditionalColumn: 0,


            }
        },
        methods: {
            handleClickActive(index) {
                this.active = index;
                this.emitSelectedTabEvent();
            },
            setDataColumn() {
                const slots = Object.keys(this.$slots).length;

                if (slots == 2) {
                    this.dataColumn = 4;
                    this.aditionalColumn = 4;
                } else {
                    this.dataColumn = Math.floor(12 / slots);
                    this.aditionalColumn = 12 - slots * this.dataColumn;
                }
            },
            getTab(tabName) {

                return {name: tabName}
            },
            isActiveTab(index) {

                return this.active === index
            },
            getActiveTabIndex() {

                let activeTabId = this.activeTabId ? this.activeTabId : null;
                let activeTabIndex = this.activeTab ? this.activeTab : 0;

                if (activeTabId) {
                    let index = this.tabs.findIndex(item => item.tabId === activeTabId);
                    activeTabIndex = index !== -1 ? index : activeTabIndex;
                }

                let index = this.tabs.findIndex(item => item.hasError && !item.disabled);
                activeTabIndex = index !== -1 ? index : activeTabIndex;

                return activeTabIndex;
            },
            emitSelectedTabEvent() {
                const eventName = (this.name ? this.name + '-' : '') + 'tabSelected';
                this.ext.event.emitEvent(this, eventName, this.tabs[this.active])
            }
        },
        props  : ['tab-data', 'active-tab', 'active-tab-id', 'classes', 'tab-class', 'name'],
        mounted() {
            this.setDataColumn();

            let tabs = typeof this.tabData === 'string' ? this.ext.data.getData(this.tabData) : this.tabData;

            tabs.forEach((tab) => {

                if (typeof tab == 'string') {
                    tab = this.getTab(tab)
                }

                this.tabs.push(tab);
            });

            this.active = this.getActiveTabIndex();
            this.emitSelectedTabEvent();
        }
    }
</script>

