<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlanetEmail</title>
</head>
<body style="padding: 0; margin:0; text-align:center">
<div id="mailsoap" style="width: 100%; min-width: 600px; min-height: 325px; height: 100vh; padding-top: 8%; background:#cccccc; font-family: Arial; font-size: 14px; color:#000000">
    <table style="padding: 0; width:600px; height: 60px; background-color: #f4f4f4; border-collapse: collapse; margin-left:auto; margin-right:auto; text-align: center " border="0">
        <tbody>
        <tr style="padding: 0">
            <td style="width: 30%; padding: 0">
                <a href="{{ baseUrl }}" style="padding-left: 10px; text-align: left; display: block">
                    <img src="{{ baseUrl }}assets/images/logo.png" height="45" width="120"/>
                </a>
            </td>
            <td style="width: 40%; padding: 0; text-align: left">
                <div style="display: inline-block; vertical-align: middle">
                    <img src="{{ baseUrl }}assets/images/head-address.png" height="33" width="34"/>
                </div>
                <div style="display: inline-block; vertical-align: middle; margin-left: 8px; width: 180px">
                    {{ shop.address }}
                </div>
            </td>
            <td style="width: 30%; padding: 0; text-align: left">
                <div style="display: inline-block; vertical-align: middle">
                    <img src="{{ baseUrl }}assets/images/head-phone.png" height="33" width="34"/>
                </div>
                <div style="display: inline-block; vertical-align: middle; margin-left: 8px">
                    {{ shop.phone }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="padding-top: 60px; padding-bottom: 15px; width:600px; height: 30px; background-color: #ffffff; margin-left:auto; margin-right:auto; text-align: center " border="0">
        <tbody>
        <tr style="font-size: 14px;height: 50px;vertical-align: bottom">
            <td>
                <div style="font-size: 16px; line-height: 1.5">
                    {% block text %}{% endblock %}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="padding-bottom: 60px; width:600px; height: 30px; background-color: #ffffff; margin-left:auto; margin-right:auto; text-align: center " border="0">
        <tbody>
        <tr>
            <td style="height: 50px; text-align: center">
                <div>
                    {% block button %}{% endblock %}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="padding: 0; width:600px; height: 60px; background-color: #f4f4f4; border-collapse: collapse; margin-left:auto; margin-right:auto; text-align: left " border="0">
        <tbody>
        <tr>
            <td style="width: 8%; text-align: center">
                <a href="https://www.youtube.com/channel/UCoMVZkbCPdPv7bgO7w0Adyg">
                    <img src="{{ baseUrl }}assets/images/footer-social-youtube.png" height="30" width="33"/>
                </a>
            </td>
            <td style="width: 8%; text-align: center">
                <a href="https://www.instagram.com/planetamyla_nsk/?hl=en">
                    <img src="{{ baseUrl }}assets/images/footer-social-insta.png" height="30" width="30"/>
                </a>
            </td>
            <td style="width: 8%; text-align: center">
                <a href="https://ok.ru/planetamyla">
                    <img src="{{ baseUrl }}assets/images/footer-social-ok.png" height="28" width="17"/>
                </a>
            </td>
            <td style="width: 8%; text-align: center">
                <a href="https://vk.com/planeta_myla">
                    <img src="{{ baseUrl }}assets/images/footer-social-vk.png" height="21" width="35"/>
                </a>
            </td>
            <td style="width: 68%"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>