{% extends 'email/base.email.twig' %}

{% block text %}
    <h1>Здравствуйте {{ user.login }}</h1>
    <span>Вы только что зарегистрировались на <a href="{{ baseUrl }}">{{ baseUrl }}</a></span>
    <span>Чтобы активировать Вашу учетную запись - пожалуйста перейдите по ссылке
{% endblock %}

{% block button %}<a href="{{ activationLink }}" style="margin: 0 auto; font-size: 20px; line-height: 1; color: #ffffff; text-decoration: none; padding: 8px 16px; background: #92AB06; text-align: center;  border-radius: 4px;" target="_blank">Активировать</a></span>{% endblock %}