<template>
    <div class="product-image-slider">
        <div class="main-image cursor-pointer" @click="() => { if (!productImages.length) { return; }; modalOpenFlag = true}">
            <template v-if="productImages.length">
                <img v-if="selectedImage" :src="`${imagePath}/${this.selectedImage.image}`">
            </template>
            <template v-else>
                <img src="/assets/images/no-image.svg" alt="">
            </template>
        </div>
        <div class="flex flex-column image-previews-wrapper">
            <div :class="{'image-preview': true, 'active': image.id === selectedImage.id}" @click="selectedImage = image" v-for="image in productImages" v-if="productImages.length">
                <div class="image-preview-item" :style="`background-image: url('${imagePath}/${image.image}')`"></div>
            </div>
        </div>
        <modal-window width="600px" :show-from-prop="modalOpenFlag" @modalClosed="modalOpenFlag = false">
            <div slot="body" class="flex flex-center align-center modal-image-wrapper">
                <img ref="image" v-if="selectedImage" :src="`${imagePath}/${this.selectedImage.image}`" alt="">
            </div>
        </modal-window>
    </div>
</template>

<script>
    import ModalWindow from '../../Base/Modal/ModalWindow.vue';

    export default {
        data() {
            return {
                productImages: [],
                selectedImage: null,
                modalOpenFlag: false
            }
        },
        props: {
            images: String,
            imagePath: String
        },
        mounted() {
            this.productImages = this.ext.data.getData(this.images);

            if (this.productImages.length) {
                this.selectedImage = this.productImages[0]
            }
        },
        components: {
            ModalWindow
        }
    }
</script>